<div class="container-fluid cv-details-form full-height">
  <div cef-sales-header-widget
    record="ssoeCtrl.record"
    new-kind-key="ui.admin.common.Order.New"
    existing-kind-key="ui.admin.controls.sales.salesOrderDetail.SalesOrder">
  </div>
  <div class="row details-body">
    <!-- Order Details Section -->
    <div class="col-sm-12 col-md-9 col-lg-9 order-tabs">
      <uib-tabset justified="true">
        <!-- Line Item Tab -->
        <uib-tab heading="{{'ui.admin.common.LineItems' | translate}}">
          <div ng-if="!ssoeCtrl.holdLineItemEditor"
            class="container-fluid full-height">
            <div cef-line-items-widget
              class="full-height"
              kind="Sales Order"
              record="ssoeCtrl.record"
              is-editable="false">
            </div>
          </div>
        </uib-tab>
        <!-- Billing & Shipping Tab -->
        <uib-tab heading="{{'ui.admin.common.BillingAndShipping' | translate}}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <h3 data-translate="ui.admin.common.AccountInformation"></h3>
              </div>
              <div class="col-sm-6">
                <div class="form-group col-sm-12" ng-if="ssoeCtrl.record.Account">
                  <b data-translate="ui.admin.common.Account"></b>&nbsp;<!--
                  --><a ui-sref="accounts.accounts.detail({ 'ID': ssoeCtrl.record.AccountID })"
                    target="_blank"
                    ><span data-translate="ui.admin.common.Number.Symbol"
                    ></span>{{ssoeCtrl.record.AccountID}}&nbsp;<!--
                  -->[{{ssoeCtrl.record.Account.CustomKey}}]&nbsp;<!--
                  -->{{ssoeCtrl.record.Account.Name}}</a><br />
                  <b data-translate="ui.admin.common.Active"></b> {{('ui.admin.common.' + (ssoeCtrl.record.Account.Active ? "Yes" : "No")) | translate}}
                  <b data-translate="ui.admin.common.OnHold"></b> {{('ui.admin.common.' + (ssoeCtrl.record.Account.IsOnHold ? "Yes" : "No")) | translate}}
                  <b data-translate="ui.admin.common.Status"></b> {{ssoeCtrl.record.Account.StatusDisplayName || ssoeCtrl.record.Account.StatusName}}
                  <b data-translate="ui.admin.common.Type"></b> {{ssoeCtrl.record.Account.TypeDisplayName || ssoeCtrl.record.Account.TypeName}}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group col-sm-12" ng-if="ssoeCtrl.record.User">
                  <b data-translate="ui.admin.common.User"></b>&nbsp;<!--
                  --><a ui-sref="accounts.users.detail({ 'ID': ssoeCtrl.record.UserID })"
                    target="_blank"
                    ><span data-translate="ui.admin.common.Number.Symbol"
                    ></span>{{ssoeCtrl.record.UserID}}&nbsp;<!--
                  -->[{{ssoeCtrl.record.User.CustomKey}}]&nbsp;<!--
                  -->{{ssoeCtrl.record.User.Name}}</a><br />
                  <b data-translate="ui.admin.common.Active"></b> {{('ui.admin.common.' + (ssoeCtrl.record.User.Active ? "Yes" : "No")) | translate}}
                  <b data-translate="ui.admin.common.Status"></b> {{ssoeCtrl.record.User.StatusDisplayName || ssoeCtrl.record.User.StatusName}}
                  <b data-translate="ui.admin.common.Type"></b> {{ssoeCtrl.record.User.TypeDisplayName || ssoeCtrl.record.User.TypeName}}
                </div>
              </div>
            </div>
            <div class="row" ng-if="ssoeCtrl.record">
              <div class="col-sm-6"
                ng-if="!ssoeCtrl.record.SalesGroupAsMasterID
                  && !ssoeCtrl.record.SalesGroupAsSubID">
                <div cef-contact-editor-widget class="mb-3"
                  title-key="ui.admin.common.BillingInformation"
                  contact="ssoeCtrl.record.BillingContact"
                  is-editable="!ssoeCtrl.isOneOfTheseStatuses(['Processed','Approved','Rejected','Void'])"
                  account="ssoeCtrl.record.Account"
                  id-suffix="Billing"
                  hide-key="true">
                </div>
              </div>
              <div class="col-sm-6"
                ng-if="ssoeCtrl.record.SalesGroupAsMasterID
                  || ssoeCtrl.record.SalesGroupAsSubID">
                <h3 data-translate="ui.admin.common.BillingInformation"></h3>
                <p>
                  This order belongs to Sales Group&nbsp;<!--
                  --><a ui-sref="sales.salesGroups.detail({
                      'ID': ssoeCtrl.record.SalesGroupAsMasterID || ssoeCtrl.record.SalesGroupAsSubID
                    })"
                    target="_blank"
                    ng-bind="ssoeCtrl.record.SalesGroupAsMasterID || ssoeCtrl.record.SalesGroupAsSubID">
                  </a>.&nbsp;See the Sales Group for the billing details.
                </p>
              </div>
              <div class="col-sm-6"
                ng-if="ssoeCtrl.cefConfig.checkout.mode == 0 || !ssoeCtrl.record.SalesGroupAsMasterID">
                <h3 data-translate="ui.admin.common.ShippingInformation"></h3>
                <div cef-contact-editor-widget class="mb-3"
                  ng-if="ssoeCtrl.record.ShippingContact"
                  title-key="ui.admin.common.ShippingInformation"
                  contact="ssoeCtrl.record.ShippingContact"
                  is-editable="!ssoeCtrl.isOneOfTheseStatuses(['Processed','Approved','Rejected','Void'])"
                  do-mirror="ssoeCtrl.record.ShippingSameAsBilling"
                  to-mirror="ssoeCtrl.record.BillingContact"
                  account="ssoeCtrl.record.Account"
                  id-suffix="Shipping"
                  hide-key="true">
                </div>
                <p ng-if="!ssoeCtrl.record.ShippingContact">
                  This order belongs to Sales Group&nbsp;<!--
                  --><a ui-sref="sales.salesGroups.detail({
                      'ID': ssoeCtrl.record.SalesGroupAsMasterID
                    })"
                    target="_blank"
                    ng-bind="ssoeCtrl.record.SalesGroupAsMasterID">
                  </a>.&nbsp;See the Sales Group to find the sub-orders which will each have separate shipping details.
                </p>
              </div>
              <div class="col-sm-6"
                ng-if="ssoeCtrl.cefConfig.checkout.mode == 1 && ssoeCtrl.record.SalesGroupAsMasterID">
                <h3 data-translate="ui.admin.common.ShippingInformation"></h3>
                <p>
                  This order belongs to Sales Group&nbsp;<!--
                  --><a ui-sref="sales.salesGroups.detail({
                      'ID': ssoeCtrl.record.SalesGroupAsMasterID
                    })"
                    target="_blank"
                    ng-bind="ssoeCtrl.record.SalesGroupAsMasterID">
                  </a>.&nbsp;See the Sales Group to find the sub-orders which will each have separate shipping details.
                </p>
              </div>
            </div>
            <div class="row" ng-if="ssoeCtrl.record.RateQuotes.length">
              <div class="col-sm-12">
                <h3 data-translate="ui.admin.controls.sales.salesOrderDetail.SelectedShippingMethod"></h3>
                <div class="table-responsive">
                  <table class="table table-condensed table-striped table-hover">
                    <thead>
                      <tr>
                        <th data-translate="ui.admin.common.Rate"></th>
                        <th data-translate="ui.admin.common.RateTimestamp"></th>
                        <th data-translate="ui.admin.common.ShipCarrierKey"></th>
                        <th data-translate="ui.admin.common.ShipCarrierName"></th>
                        <th data-translate="ui.admin.common.ShipCarrierMethodKey"></th>
                        <th data-translate="ui.admin.common.ShipCarrierMethodName"></th>
                        <th data-translate="ui.admin.common.TargetShippingDate"></th>
                        <th data-translate="ui.admin.common.EstimatedDeliveryDate"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="rq in ssoeCtrl.record.RateQuotes">
                        <td ng-bind="rq.Rate | globalizedCurrency : ssoeCtrl.record.SerializableAttributes.SellingCurrencyKey.Value"></td>
                        <td ng-bind="rq.RateTimestamp | convertJSONDate | date: 'yyyy-MM-dd hh:mm:ss a'"></td>
                        <td ng-bind="rq.ShipCarrierMethod.ShipCarrierKey"></td>
                        <td ng-bind="rq.ShipCarrierMethod.ShipCarrierName"></td>
                        <td ng-bind="rq.ShipCarrierMethodKey"></td>
                        <td ng-bind="rq.ShipCarrierMethodName"></td>
                        <td ng-bind="rq.TargetShippingDate | convertJSONDate | date: 'yyyy-MM-dd'"></td>
                        <td ng-bind="rq.EstimatedDeliveryDate | convertJSONDate | date: 'yyyy-MM-dd'"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <!-- Notes Tab -->
        <uib-tab heading="{{'ui.admin.common.Note.Plural' | translate}}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h3 data-translate="ui.admin.common.PrivateNote.Plural"></h3>
                <div cef-notes-editor
                  notes="ssoeCtrl.record.Notes"
                  note-type-name="'Private'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 data-translate="ui.admin.common.OrderNote.Plural"></h3>
                <div cef-notes-editor
                  notes="ssoeCtrl.record.Notes"
                  note-type-name="'Order'">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h3 data-translate="ui.admin.common.CustomerNote.Plural"></h3>
                <div cef-notes-editor
                  notes="ssoeCtrl.record.Notes"
                  note-type-name="'Customer'">
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <!-- Attributes Tab -->
        <uib-tab heading="{{'ui.admin.common.Attribute.Plural' | translate}}">
          <div class="container-fluid">
            <div cef-json-attributes-editor
              master="ssoeCtrl.record"
              type="Sales Order"
              ng-if="ssoeCtrl.record">
            </div>
          </div>
        </uib-tab>
        <!-- Associations Tab -->
        <uib-tab heading="{{'ui.admin.controls.inventory.productDetail.Association.Plural' | translate}}">
          <div class="container-fluid">
            <!--
            <div class="row" ng-if="ssoeCtrl.cefConfig.featureSet.shipping.splitShipping.enabled">
              <div class="col-sm-12">
                <label class="control-label"
                  data-translate="ui.admin.controls.sales.salesOrderDetail.SubOrders">
                </label>
                <div ng-hide="ssoeCtrl.record.Children.length > 0"
                  class="input-group mb-1"
                  data-translate="ui.admin.common.NoSubOrdersForThisOrder">
                </div>
                <div ng-repeat="child in ssoeCtrl.record.Children"
                  class="input-group order mb-1">
                  <a class="block" ui-sref="sales.salesOrders.detail({ID: child.ID})"
                    ><span data-translate="ui.admin.common.Number.Symbol"></span><! --
                    -- ><span ng-bind="child.ID + ' ' + child.CustomKey"></span></a>
                  <span class="block"
                    ><span data-translate="ui.admin.common.Total"></span>&nbsp;< !--
                    -- ><span ng-bind="child.Totals.Total | globalizedCurrency : child.SerializableAttributes.SellingCurrencyKey.Value"
                    ></span></span>
                </div>
              </div>
            </div>
            -->
            <div class="row" ng-if="!ssoeCtrl.hasSalesGroup && ssoeCtrl.cefConfig.featureSet.salesInvoices.enabled">
              <div class="col-sm-12">
                <label class="control-label"
                  data-translate="ui.admin.common.Invoice.Plural">
                </label>
                <div ng-hide="ssoeCtrl.record.AssociatedSalesInvoices.length"
                  class="input-group mb-1"
                  data-translate="ui.admin.common.NoInvoicesForThisOrder">
                </div>
                <div ng-repeat="invoice in ssoeCtrl.record.AssociatedSalesInvoices"
                  class="input-group invoice mb-1">
                  <a ui-sref="sales.salesInvoices.detail({ID: invoice.Slave.ID})"
                    >#{{invoice.SlaveID}} {{invoice.SlaveKey}}</a><br/>
                  <span data-translate="ui.admin.common.Total"
                    ></span>&nbsp;{{invoice.Slave.Totals.Total | globalizedCurrency : invoice.SerializableAttributes.SellingCurrencyKey.Value}}<br />
                  <span ng-if="!invoice.Slave.BalanceDue || invoice.Slave.BalanceDue <= 0"
                    data-translate="ui.admin.common.Paid"></span>
                  <span ng-if="invoice.Slave.BalanceDue > 0"
                    ><span data-translate="ui.admin.controls.sales.salesOrderDetail.Due"
                    ></span>&nbsp;{{invoice.Slave.BalanceDue | globalizedCurrency : invoice.SerializableAttributes.SellingCurrencyKey.Value}}</span><br/>
                  <!-- TODO
                  <button ng-if="invoice.Slave.BalanceDue > 0 && !ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
                    type="button" class="btn btn-info btn-xs"
                    ng-click="ssoeCtrl.addPaymentToInvoice($index)"
                    data-translate="ui.admin.common.Payment.Add">
                  </button>
                  -->
                </div>
              </div>
            </div>
            <div class="row" ng-if="ssoeCtrl.hasSalesGroup
                                && ssoeCtrl.cefConfig.featureSet.salesInvoices.enabled
                                && ssoeCtrl.salesGroupRecord.SalesInvoices">
              <div class="col-sm-12">
                <label class="control-label"
                  data-translate="ui.admin.common.Invoice.Plural">
                </label>
                <div ng-repeat="invoice in ssoeCtrl.salesGroupRecord.SalesInvoices"
                  class="input-group invoice mb-1">
                  <a ui-sref="sales.salesInvoices.detail({ID: invoice.ID})"
                    >#{{invoice.ID}} {{invoice.CustomKey}}</a><br/>
                  <span data-translate="ui.admin.common.Total"
                    ></span>&nbsp;{{invoice.Totals.Total | globalizedCurrency : invoice.SerializableAttributes.SellingCurrencyKey.Value}}<br />
                  <span ng-if="!invoice.BalanceDue || invoice.BalanceDue <= 0"
                    data-translate="ui.admin.common.Paid"></span>
                  <span ng-if="invoice.BalanceDue > 0"
                    ><span data-translate="ui.admin.controls.sales.salesOrderDetail.Due"
                    ></span>&nbsp;{{invoice.BalanceDue | globalizedCurrency : invoice.SerializableAttributes.SellingCurrencyKey.Value}}</span><br/>
                  <!-- TODO
                  <button ng-if="invoice.BalanceDue > 0 && !ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
                    type="button" class="btn btn-info btn-xs"
                    ng-click="ssoeCtrl.addPaymentToInvoice($index)"
                    data-translate="ui.admin.common.Payment.Add">
                  </button>-->
                </div>
              </div>
            </div>
            <div class="row" ng-if="ssoeCtrl.cefConfig.featureSet.payments.enabled">
              <div class="col-sm-12">
                <label class="control-label"
                  data-translate="ui.admin.common.Payments">
                </label>
                <div ng-hide="ssoeCtrl.record.SalesOrderPayments.length"
                  class="input-group mb-1"
                  data-translate="ui.admin.common.NoPaymentsHaveBeenReceived">
                </div>
                <div ng-repeat="payment in ssoeCtrl.record.SalesOrderPayments"
                  class="input-group payment mb-1">
                  <span ng-if="payment.SlaveID"><span ng-bind="payment.SlaveID"></span><br/></span>
                  <span ng-if="payment.Slave.CustomKey"><span ng-bind="payment.Slave.CustomKey"></span><br/></span>
                  <span ng-bind="payment.Slave.TypeName"></span>&nbsp;<!--
                  --><span ng-bind="payment.Slave.Last4CardDigits"></span><br />
                  <span ng-bind="payment.Slave.Amount | globalizedCurrency
                    : ssoeCtrl.record.SerializableAttributes.SellingCurrencyKey.Value">
                  </span><br />
                  <span ng-bind="payment.Slave.StatusName"></span>
                  <button ng-if="payment.Slave.TypeName == 'Credit Card'
                    && payment.Slave.StatusKey != 'Payment Received'"
                    type="button" class="btn btn-info btn-xs"
                    ng-click="ssoeCtrl.capturePayment($index)"
                    data-translate="ui.admin.common.Capture">
                  </button>
                </div>
              </div>
            </div>
            <div class="row" ng-if="ssoeCtrl.cefConfig.featureSet.purchaseOrders.enabled">
              <div class="col-sm-12">
                <label class="control-label"
                  data-translate="ui.admin.common.PurchaseOrder.Plural">
                </label>
                <div ng-hide="ssoeCtrl.record.AssociatedPurchaseOrders.length"
                  class="input-group mb-1"
                  data-translate="ui.admin.controls.sales.salesOrderDetail.NoPOsForThisOrder">
                </div>
                <div ng-repeat="purchaseOrder in ssoeCtrl.record.AssociatedPurchaseOrders"
                  class="input-group purchase-order mb-1">
                  <a ui-sref="sales.purchaseOrders.detail({ID: purchaseOrder.PurchaseOrderID})">
                    #{{purchaseOrder.PurchaseOrderID}}
                    {{purchaseOrder.PurchaseOrder.CustomKey}}
                    {{purchaseOrder.PurchaseOrder.StatusKey}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <!-- Stored Files Tab -->
        <uib-tab heading="{{'ui.admin.common.StoredFile.Plural' | translate}}">
          <div class="form-vertical container-fluid" ng-form="ssoeCtrl.forms.StoredFiles">
            <div class="row">
              <div class="col-md-12">
                <h3 data-translate="ui.admin.common.StoredFile.Plural"></h3>
                <!-- Uploader -->
                <div cef-upload-file-widget
                  master="ssoeCtrl.record"
                  upload-type="StoredFileSalesOrder"
                  type-key="General"
                  allow-multiple="true">
                </div>
              </div>
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table table-hover table-condensed table-striped">
                    <thead>
                      <tr>
                        <th data-translate="ui.admin.common.Name"></th>
                        <th data-translate="ui.admin.common.FileName"></th>
                        <th style="width: 43px;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-if="!ssoeCtrl.record.StoredFiles.length">
                        <td colspan="3"
                          data-translate="ui.admin.common.NoStoredFilesHaveBeenAdded">
                        </td>
                      </tr>
                      <tr ng-repeat="storedFile in ssoeCtrl.record.StoredFiles">
                        <td>
                          <input type="text" class="form-control"
                            id="txtStoredFileName{{$index}}" name="txtStoredFileName{{$index}}"
                            ng-required="true"
                            max-length="128"
                            ng-model="storedFile.Name" />
                        </td>
                        <td>
                          <a class="form-control-static" target="_blank"
                            ng-href="{{(storedFile.StoredFileName || storedFile.Slave.FileName) | corsStoredFilesLink : 'salesOrders'}}"
                            ng-bind="storedFile.StoredFileName || storedFile.Name">
                          </a>
                        </td>
                        <td>
                          <button type="button" class="btn btn-danger"
                            translate-attr="{ title: 'ui.admin.common.Delete',
                                              'aria-label': 'ui.admin.common.Delete' }"
                            ng-click="ssoeCtrl.removeFileNew($index)">
                            <i class="far fa-trash-o"></i>
                            <span class="sr-only" data-translate="ui.admin.common.Delete"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <!-- Order Summary Section -->
    <div class="col-sm-12 col-md-3 col-lg-3 order-summary">
      <div class="form-vertical">
        <div class="row" ng-if="ssoeCtrl.record.SalesGroupAsMasterID">
          <p class="form-control-static col-xs-9 bold"
            data-translate="ui.admin.controls.sales.salesQuoteDetail.SalesGroupAsMaster">
          </p>
          <a class="form-control-static col-xs-3"
            ui-sref="sales.salesGroups.detail({ 'ID': ssoeCtrl.record.SalesGroupAsMasterID })"
            target="_blank"
            ng-bind="ssoeCtrl.record.SalesGroupAsMasterID">
          </a>
        </div>
        <div class="row" ng-if="ssoeCtrl.record.SalesGroupAsSubID">
          <p class="form-control-static col-xs-9 bold"
            data-translate="ui.admin.controls.sales.salesQuoteDetail.SalesGroupAsSub">
          </p>
          <a class="form-control-static col-xs-3"
            ui-sref="sales.salesGroups.detail({ 'ID': ssoeCtrl.record.SalesGroupAsSubID })"
            target="_blank"
            ng-bind="ssoeCtrl.record.SalesGroupAsSubID">
          </a>
        </div>
        <!-- Totals -->
        <div class="row">
          <div class="col-sm-12 text-white">
            <h3 data-translate="ui.admin.common.Total.Plural"></h3>
            <!-- update-balance-due must be "true" for totals line item changes to be reflected on balance due -->
            <div ng-cloak="ssoeCtrl.record.Totals"
              cef-totals-widget
              totals="ssoeCtrl.record.Totals"
              original-currency="ssoeCtrl.record.SerializableAttributes.OriginalCurrencyKey.Value || salesDetail.cefConfig.defaultCurrency || 'USD'"
              selling-currency="ssoeCtrl.record.SerializableAttributes.SellingCurrencyKey.Value"
              is-editable="!ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
              record="ssoeCtrl.record"
              update-balance-due="true"
              discount-items="ssoeCtrl.discountItems">
            </div>
          </div>
        </div>
        <!-- Balance Due -->
        <div class="form-group">
          <label class="control-label"
            data-translate="ui.admin.common.BalanceDue">
          </label>
          <p class="total">
            <span ng-bind="(ssoeCtrl.record.BalanceDue ? ssoeCtrl.record.BalanceDue : 0)
              | globalizedCurrency : ssoeCtrl.record.SerializableAttributes.SellingCurrencyKey.Value">
            </span>
            <a ng-click="ssoeCtrl.editValue('Balance Due')">
              <i class="far fa-pencil small"></i>
              <span class="sr-only" data-translate="ui.admin.common.Edit"></span>
            </a>
          </p>
        </div>
        <!-- Date Placed -->
        <div class="form-group">
          <label class="control-label"
            data-translate="ui.admin.common.Date">
          </label>
          <p class="form-control-static ml-1"
            ng-bind="ssoeCtrl.record.CreatedDate | convertJSONDate | date:'yyyy MMM dd hh:mm a'">
          </p>
        </div>
        <!-- Paid status -->
        <div class="form-group">
          <label class="control-label"
            data-translate="ui.admin.common.Status">
          </label>
          <p class="form-control-static ml-1"
            ng-bind="ssoeCtrl.record.StatusDisplayName || ssoeCtrl.record.Status.DisplayName || ssoeCtrl.record.StatusName || ssoeCtrl.record.Status.Name || '-'">
          </p>
        </div>
        <!-- Keys -->
        <div class="form-group" ng-if="ssoeCtrl.cefConfig.featureSet.salesOrders.hasIntegratedKeys.enabled">
          <label class="control-label"
            data-translate="ui.admin.common.Key">
          </label>
          <p class="form-control-static ml-1"
            ng-show="ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
            ng-bind="ssoeCtrl.record.CustomKey || '-'">
          </p>
          <input type="text" class="form-control"
            translate-attr="{ placeholder: 'ui.admin.common.Key' }"
            ng-hide="ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
            ng-model="ssoeCtrl.record.CustomKey" />
        </div>
        <!-- Customer's PO Number -->
        <div class="form-group">
          <label class="control-label"
            data-translate="ui.admin.common.CustomersPONumber">
          </label>
          <p class="form-control-static ml-1"
            ng-show="ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
            ng-bind="ssoeCtrl.record.PurchaseOrderNumber || '-'">
          </p>
          <input type="text" class="form-control"
            id="txtPurchaseOrderNumber" name="txtPurchaseOrderNumber"
            translate-attr="{ placeholder: 'ui.admin.common.CustomersPONumber' }"
            ng-hide="ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
            ng-model="ssoeCtrl.record.PurchaseOrderNumber" />
        </div>
        <!-- Transaction ID -->
        <div class="form-group" ng-if="ssoeCtrl.cefConfig.featureSet.taxes.enabled">
          <label class="control-label"
            data-translate="ui.admin.common.TaxTransactionID">
          </label>
          <p class="form-control-static ml-1"
            ng-bind="ssoeCtrl.record.TaxTransactionID || '-'">
          </p>
        </div>
        <!-- Multi-Currency -->
        <div class="form-group" ng-if="ssoeCtrl.cefConfig.featureSet.multiCurrency.enabled">
          <label class="control-label"
            data-translate="ui.admin.common.Currency">
          </label>
           <p class="form-control-static ml-1"
            ng-bind="ssoeCtrl.record.SerializableAttributes.SellingCurrencyKey.Value || 'USD'">
          </p>
        </div>
        <!-- Tracking Number -->
        <div class="form-group">
          <label class="control-label"
            data-translate="Tracking Number">
          </label>
          <p class="form-control-static ml-1"
            ng-show="ssoeCtrl.isOneOfTheseStatuses(['Completed','Shipped','Shipped from Vendor','Void'])"
            ng-bind="sssoeCtrl.record.SerializableAttributes.TrackingNumber.Value || '-'">
          </p>
          <input type="text" class="form-control"
            id="txtTrackingNumber" name="txtTrackingNumber"
            translate-attr="{ placeholder: 'Tracking Number' }"
            ng-model="ssoeCtrl.record.SerializableAttributes.TrackingNumber.Value" />
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="row details-footer">
    <div class="col-md-12" ng-cloak="ssoeCtrl.record">
      <button ng-if="ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
        type="button" class="btn btn-info"
        translate-attr="{ title: 'ui.admin.common.back',
                          'aria-label': 'ui.admin.common.back' }"
        ui-sref="sales.salesOrders.list">
        <span data-translate="ui.admin.common.back"></span>
      </button>
      <!-- Save/Cancel -->
      <button ng-if="!ssoeCtrl.recordIsNew() && !ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
        type="button" class="btn btn-primary"
        uib-tooltip="{{('ui.admin.common.SaveChange.Plural' | translate)
                   + '\r\nThe Order will be saved with any changes.'}}"
        tooltip-placement="top-left"
        translate-attr="{ title: 'ui.admin.common.SaveChange.Plural',
                          'aria-label': 'ui.admin.common.SaveChange.Plural' }"
        ng-click="ssoeCtrl.saveRecord()">
        <span data-translate="ui.admin.common.SaveChange.Plural"></span>
      </button>
      <button ng-if="!ssoeCtrl.recordIsNew() && !ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])"
        type="button" class="btn btn-warning"
        uib-tooltip="{{('ui.admin.common.BackCancel' | translate)
                   + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.BackCancel.Message' | translate)}}"
        tooltip-placement="top-left"
        translate-attr="{ title: 'ui.admin.common.BackCancel',
                          'aria-label': 'ui.admin.common.BackCancel' }"
        ui-sref="sales.salesOrders.list">
        <span data-translate="ui.admin.common.BackCancel"></span>
      </button>
      <!-- Actions against a Valid Order -->
      <div ng-if="!ssoeCtrl.isOneOfTheseStatuses(['Void','Completed'])"
        class="btn-group dropup inline-block"
        uib-dropdown keyboard-nav is-open="actionsMenuStatus.isopen">
        <button type="button" class="btn btn-info dropdown-toggle"
          id="btnOrderActions" name="btnOrderActions"
          translate-attr="{ title: 'ui.admin.common.OrderAction.Plural',
                            'aria-label': 'ui.admin.common.OrderAction.Plural' }"
          uib-dropdown-toggle>
          <span data-translate="ui.admin.common.OrderAction.Plural"></span>&nbsp;<!--
          --><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btnOrderActions">
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Pending','Backordered'])">
            <a ng-click="ssoeCtrl.confirmOrder()"
              uib-tooltip="{{('ui.admin.common.OrderActions.Confirm' | translate)
                         + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.ConfirmOrder.Message' | translate)}}"
              tooltip-placement="top-right"
              data-translate="ui.admin.common.OrderActions.Confirm">
            </a>
          </li>
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Pending'])">
            <a ng-click="ssoeCtrl.backorderOrder()"
               uib-tooltip="{{('ui.admin.controls.sales.BackorderOrder.ConfirmOrder' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.BackorderOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.Backorder"></a>
          </li>
          <!--
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Pending'])">
            <a ng-click="ssoeCtrl.splitOrder()"
               uib-tooltip="{{('ui.admin.common.OrderActions.Split' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.SplitOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.Split"></a>
          </li>
          -->
          <li role="separator" class="divider"
            ng-if="ssoeCtrl.isOneOfTheseStatuses(['Pending','Backordered'])"></li>

          <!-- NOTE: Hidden until additional work is done
          <li role="menuitem"
            ng-if="ssoeCtrl.record.BalanceDue > 0
                 && !ssoeCtrl.isOneOfTheseStatuses(['Split','Void'])">
            <a ng-click="ssoeCtrl.createInvoiceForOrder()"
               uib-tooltip="{{('ui.admin.common.InvoiceActions.Create' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.CreateInvoice.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.InvoiceActions.Create"></a>
          </li>
          -->
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Pending','Confirmed','Partial Payment Received'])">
            <a ng-click="ssoeCtrl.capturePayment()"
               uib-tooltip="{{('ui.admin.controls.sales.salesOrderDetail.CapturePayment' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.CapturePayment.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.controls.sales.salesOrderDetail.CapturePayment"></a>
          </li>

          <!-- NOTE: Hidden until additional work is done
          <li role="menuitem"
            ng-if="ssoeCtrl.record.BalanceDue > 0
                 && !ssoeCtrl.isOneOfTheseStatuses(['Full Payment Received','Completed','Split','Void'])">
            <a ng-click="ssoeCtrl.addPaymentToOrder()"
               uib-tooltip="{{('ui.admin.common.Payment.Add' | translate)
                      + '\r\n' + ('ui.admin.common.AddPayment.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.Payment.Add"></a>
          </li> -->

          <li role="separator" class="divider"
            ng-if="ssoeCtrl.record.BalanceDue > 0 && !ssoeCtrl.isOneOfTheseStatuses(['Split','Void'])
                 || ssoeCtrl.isOneOfTheseStatuses(['Pending','Confirmed','Partial Payment Received'])
                 || ssoeCtrl.record.BalanceDue > 0
                  && !ssoeCtrl.isOneOfTheseStatuses(['Full Payment Received','Completed','Split','Void'])"></li>

          <!--
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Full Payment Received'])">
            <a ng-click="ssoeCtrl.createPickTicketForOrder()"
               uib-tooltip="{{('ui.admin.common.CreatePickTicket' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.CreatePickTicket.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.CreatePickTicket"></a>
          </li>
          -->
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Full Payment Received'])">
            <a ng-click="ssoeCtrl.createPickTicketForOrder()"
               uib-tooltip="Mark as Processing"
               tooltip-placement="top-right"
               data-translate="Mark as Processing"></a>
          </li>

          <li role="separator" class="divider"
            ng-if="ssoeCtrl.isOneOfTheseStatuses(['Full Payment Received'])"></li>

          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Confirmed','Processing'])">
            <a ng-click="ssoeCtrl.readyForPickupOrder()"
               uib-tooltip="{{('ui.admin.controls.sales.salesOrderDetail.ReadyForPickup' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.ReadyForPickup.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.controls.sales.salesOrderDetail.ReadyForPickup"></a>
          </li>
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Confirmed','Processing'])">
            <a ng-click="ssoeCtrl.shipOrder()"
               uib-tooltip="{{('ui.admin.common.OrderActions.Ship' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.ShipOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.Ship"></a>
          </li>
          <li role="menuitem" ng-if="ssoeCtrl.isOneOfTheseStatuses(['Confirmed','Processing'])">
            <a ng-click="ssoeCtrl.dropShipOrder()"
               uib-tooltip="{{('ui.admin.common.OrderActions.DropShip' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.DropShipOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.DropShip"></a>
          </li>

          <li role="separator" class="divider"
            ng-if="ssoeCtrl.isOneOfTheseStatuses(['Confirmed','Processing'])"></li>

          <li role="menuitem"
            ng-if="ssoeCtrl.isOneOfTheseStatuses(['Shipped','Shipped from Vendor','Ready for Pickup'])
                 && (!ssoeCtrl.record.BalanceDue || ssoeCtrl.record.BalanceDue <= 0)">
            <a ng-click="ssoeCtrl.completeOrder()"
               uib-tooltip="{{('ui.admin.common.OrderActions.Complete' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.CompleteOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.Complete"></a>
          </li>

          <li role="separator" class="divider"
            ng-if="ssoeCtrl.isOneOfTheseStatuses(['Shipped','Shipped from Vendor','Ready for Pickup'])
                 && (!ssoeCtrl.record.BalanceDue || ssoeCtrl.record.BalanceDue <= 0)"></li>

          <li role="menuitem" ng-if="!ssoeCtrl.isOneOfTheseStatuses(['Completed','Split','Void'])">
            <a ng-click="ssoeCtrl.voidOrder()"
               ng-disabled="ssoeCtrl.isOneOfTheseStatuses(['Void'])"
               uib-tooltip="{{('ui.admin.common.OrderActions.Void' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.VoidOrder.Message' | translate)}}"
               tooltip-placement="top-right"
               data-translate="ui.admin.common.OrderActions.Void"></a>
          </li>

          <li role="separator" class="divider"
            ng-if="ssoeCtrl.cefConfig.featureSet.returns.enabled
                && ssoeCtrl.isOneOfTheseStatuses(['Shipped','Shipped from Vendor','Split','Completed','Void'])"></li>

          <li role="menuitem"
            ng-if="ssoeCtrl.cefConfig.featureSet.returns.enabled
                 && ssoeCtrl.isOneOfTheseStatuses(['Shipped','Shipped from Vendor','Split','Completed','Void'])">
            <a ui-sref="sales.salesReturns.new({ ID: ssoeCtrl.record.ID })"
               uib-tooltip="{{('ui.admin.views.home.NewSalesReturn' | translate)
                      + '\r\n' + ('ui.admin.controls.sales.salesOrderDetail.NewSalesReturn.Message' | translate)}}"
               tooltip-placement="top-right"
               ><span data-translate="ui.admin.views.home.NewSalesReturn"></span></a>
          </li>
        </ul>
      </div>
      <span class="ml-1 alert alert-info" ng-if="ssoeCtrl.viewState.running" data-translate="ui.admin.common.Running.Ellipses"></span>
      <span class="ml-1 alert alert-success" ng-if="ssoeCtrl.saveSuccess || ssoeCtrl.viewState.success" data-translate="ui.admin.common.Success.Exclamation"></span>
      <span class="ml-1 alert alert-danger" ng-if="ssoeCtrl.saveFailed" data-translate="ui.admin.common.Failed.Exclamation"></span>
      <span class="ml-1 alert alert-danger" ng-if="ssoeCtrl.viewState.hasError" ng-bind="ssoeCtrl.viewState.errorMessage"></span>
    </div>
  </div>
</div>
