<div ng-hide="loaded">
    <h5 data-translate="ui.storefront.product.bulkOrderForm.categoryTable.categoryLoading"></h5>
</div>

<div ng-show="loaded">
    <h3>{{category.CategoryName}}</h3>
    <kendo-grid id="kendoGridQuickOrderCategory" options="gridOptions"></kendo-grid>
    <br />
    <button type="button" class="btn btn-primary"
            data-translate="ui.storefront.product.bulkOrderForm.categoryTable.seeSubtotal"
            ng-click="jumpTo('addToCart')"></button>
    <button type="button" class="btn btn-primary"
            data-translate="ui.storefront.product.bulkOrderForm.categoryTable.backToTop"
            ng-click="jumpTo('top')"></button>
</div>
