<div class="row"
  id="related-products-list-{{pbcCtrl.type.replace(' ', '-')}}"
  ng-if="pbcCtrl.products && pbcCtrl.paging.data.length">
  <div class="carousel col-12">
    <div class="carousel-inner px-5">
      <div class="carousel-item active">
        <div class="row">
          <div ng-repeat="product in pbcCtrl.paging.filteredData
                          | limitTo: (pbcCtrl.size || 4)
                                   : pbcCtrl.paging.skip()"
             class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <div cef-product-card-gen-widget
              thumb-width="pbcCtrl.thumbWidth"
              thumb-height="pbcCtrl.thumbHeight"
              name-rows="2"
              short-desc-rows="2"
              pricing-display-style="'sideBySide'"
              action-button-view="'addToCart'"
              quick-add="true"
              hide-stock="false"
              hide-sku="false"
              hide-short-desc="false"
              hide-favorites-list="false"
              hide-wish-list="false"
              hide-notify-me="false"
              hide-compare="false"
              hide-icons="false"
              product-id="product.ID"
              product-image="product.PrimaryImageFileName"
              index="$index">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a ng-show="pbcCtrl.products.length > 1"
      id="relatedProductsScrollLeft"
      name="relatedProductsScrollLeft"
      class="carousel-control-prev" role="button"
      ng-class="{ 'disabled': pbcCtrl.paging.currentPage <= 0 }"
      tabindex
      ng-click="!(pbcCtrl.paging.currentPage <= 0)
        && pbcCtrl.paging.goToPreviousPage()">
      <span aria-hidden="true"
        class="carousel-control-prev-icon far fa-chevron-left fa-2x text-dark">
      </span>
      <span class="sr-only">previous</span>
    </a>
    <a ng-show="pbcCtrl.products.length > 1"
      id="relatedProductsScrollRight"
      name="relatedProductsScrollRight"
      class="carousel-control-next" role="button"
      ng-class="{ 'disabled': pbcCtrl.paging.currentPage >= pbcCtrl.paging.maxPage()-1 }"
      tabindex
      ng-click="!(pbcCtrl.paging.currentPage >= pbcCtrl.paging.maxPage()-1)
        && pbcCtrl.paging.goToNextPage()">
      <span aria-hidden="true"
        class="carousel-control-next-icon far fa-chevron-right fa-2x text-dark">
      </span>
      <span class="sr-only">next</span>
    </a>
  </div>
</div>
