<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <location>
    <system.web>
      <pages validateRequest="false" enableViewStateMac="true" enableEventValidation="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
        <namespaces>
          <clear />
          <remove namespace="DotNetNuke" />
          <remove namespace="DotNetNuke.Common" />
          <remove namespace="DotNetNuke.Common.Utilities" />
          <remove namespace="DotNetNuke.Data" />
          <remove namespace="DotNetNuke.Entities.Portals" />
          <remove namespace="DotNetNuke.Entities.Tabs" />
          <remove namespace="DotNetNuke.Entities.Users" />
          <remove namespace="DotNetNuke.Framework" />
          <remove namespace="DotNetNuke.HttpModules" />
          <remove namespace="DotNetNuke.Instrumentation" />
          <remove namespace="DotNetNuke.Log4Net" />
          <remove namespace="DotNetNuke.Modules" />
          <remove namespace="DotNetNuke.Professional" />
          <remove namespace="DotNetNuke.Professional.DigitalAssets" />
          <remove namespace="DotNetNuke.Security" />
          <remove namespace="DotNetNuke.Services" />
          <remove namespace="DotNetNuke.Services.Exceptions" />
          <remove namespace="DotNetNuke.Services.Localization" />
          <remove namespace="DotNetNuke.UI" />
          <remove namespace="DotNetNuke.Web.Mvc" />
          <remove namespace="ImageResizer" />
          <remove namespace="Mandeeps.DNN.Modules.LiveUtilities" />
          <remove namespace="Evoq" />
          <remove namespace="Evoq.Library" />
          <remove namespace="System.Web.Mvc" />
          <remove namespace="System.Web.Mvc.Ajax" />
          <remove namespace="System.Web.Mvc.Html" />
          <remove namespace="System.Web.Routing" />
        </namespaces>
      </pages>
      <httpHandlers>
        <clear />
      </httpHandlers>
      <httpModules>
        <clear />
      </httpModules>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="false">
        <remove name="Analytics" />
        <remove name="ClaimsPrincipalHttpModule" />
        <remove name="ClientDependencyModule" />
        <remove name="Compression" />
        <remove name="Detector" />
        <remove name="DnnApiEndpoint" />
        <remove name="DnnApiEndpointRewriter" />
        <remove name="DNNMembership" />
        <remove name="DnnSharp.Common.InitCommonDlls.DnnApiEndpoint" />
        <remove name="DnnSharp.Common.InitCommonDlls.SearchBoost" />
        <remove name="DnnSharp.Common.InitCommonDlls.ActionForm" />
        <remove name="DnnSharp.Common.InitCommonDlls" />
        <remove name="EditBarModule" />
        <remove name="EvoqContentModule" />
        <remove name="EvoqLibraryModule" />
        <remove name="Exception" />
        <remove name="ImageResizingModule" />
        <remove name="LiveUtilitiesModule" />
        <remove name="Marketo" />
        <remove name="MobileRedirect" />
        <remove name="MVCModules" />
        <remove name="OpenFromServer" />
        <remove name="OutputCaching" />
        <remove name="PersonaBarModule" />
        <remove name="Personalization" />
        <remove name="RadUploadModule" />
        <remove name="RequestFilter" />
        <remove name="ScriptModule" />
        <remove name="SearchBoost" />
        <remove name="Services" />
        <remove name="SessionAuthenticationModule" />
        <remove name="Sitefinity" />
        <remove name="SitefinityAnalyticsModule" />
        <remove name="SitefinityClaimsAuthenticationModule" />
        <remove name="TrackDocumentStats" />
        <remove name="UrlRewrite" />
        <remove name="UrlRoutingModule-4.0" />
        <remove name="UsersOnline" />
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="CacheSynchronizationHandler" />
        <remove name="CaptchaHandler" />
        <remove name="ClientDependencyHandler" />
        <remove name="DnnApiEndpoint" />
        <remove name="DnnImageHandler" />
        <remove name="DotNetNuke.DNNScheduler" />
        <remove name="DotNetNuke.HttpModules" />
        <remove name="Evoq" />
        <remove name="Evoq.Library" />
        <remove name="ExtensionlessUrl-Integrated-4.0" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="HtmTemplateFileHandler" />
        <remove name="LinkClickHandler" />
        <remove name="LogoffHandler*" />
        <remove name="RadProgressHandler" />
        <remove name="RSSHandler" />
        <remove name="ScriptHandlerFactory" />
        <remove name="ScriptHandlerFactoryAppServices" />
        <remove name="ScriptResource" />
        <remove name="SearchBoost" />
        <remove name="ServiceStack.Factory" />
        <remove name="Sitefinity .svc map 2" />
        <remove name="Sitefinity .xamlx map 2" />
        <remove name="Sitefinity svc map" />
        <remove name="Sitefinity svc" />
        <remove name="Sitefinity xamlx map" />
        <remove name="Sitefinity xamlx" />
        <remove name="SitemapHandler" />
        <remove name="Telerik.RadUploadProgressHandler" />
        <remove name="Telerik.ReportViewer.axd_*" />
        <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
        <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
        <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
        <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
        <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
        <remove name="Telerik.Sitefinity.Html5UploadHandler" />
        <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
        <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
        <remove name="Telerik.Web.UI" />
        <remove name="Telerik.Web.UI.ChartHttpHandler" />
        <remove name="Telerik.Web.UI.DialogHandler" />
        <remove name="Telerik.Web.UI.SpellCheckHandler" />
        <remove name="Telerik.Web.UI.WebResource" />
        <remove name="Telerik_Web_UI_DialogHandler_aspx" />
        <remove name="Telerik_Web_UI_WebResource_axd" />
        <remove name="UserProfilePageHandler" />
        <remove name="UserProfilePicHandler" />
        <remove name="WebDAV" />
        <remove name="WildCard" />
        <remove name="WildCard32" />
      </handlers>
    </system.webServer>
  </location>
</configuration>