# Suppress: EC112

[*.cs]
resharper_async_converter_async_await_may_be_elided_highlighting_highlighting=do_not_show
resharper_async_converter_async_method_naming_highlighting_highlighting=do_not_show
resharper_unused_auto_property_accessor_global_highlighting=do_not_show
resharper_class_never_instantiated_global_highlighting=do_not_show
resharper_redundant_await_highlighting=do_not_show
resharper_stylecop_sa1402_highlighting=do_not_show
resharper_stylecop.sa1402_highlighting=do_not_show
dotnet_diagnostic.SA1649.severity = none
