<div class="row form-vertical" ng-form="fprCtrl.forms.forcedPasswordReset">
  <div class="col-12">
    <h2 class="text-center"
      data-translate="ui.storefront.user.forcedPasswordReset.YouAreRequiredToChangeYourPassword">
    </h2>
  </div>
  <text-input-form-group
    class="col-12"
    key="ForcedResetEmail"
    ng-model="fprCtrl.data.Email"
    label-key="ui.storefront.common.Email"
    placeholder-key="ui.storefront.common.Email"
    ng-required="true"
    is-email="true">
  </text-input-form-group>
  <password-input-form-group
    class="col-12"
    key="ForcedResetPassword"
    ng-model="fprCtrl.data.OldPassword"
    label-key="ui.storefront.user.forcedPasswordReset.CurrentPassword"
    placeholder-key="ui.storefront.userDashboard2.controls.userProfile.EnterYourCurrentPassword"
    tooltip-key="ui.storefront.userDashboard2.controls.userProfile.EnterYourCurrentPassword"
    ng-required="fprCtrl.forms.User.$dirty"
    force-tooltip-with-focus="true">
  </password-input-form-group>
  <!-- TODO: fprCtrl.data.TwoFactorEnabled: Two-factor authentication enabled state -->
  <password-input-form-group
    class="col-12"
    key="ForcedResetNewPassword"
    ng-model="fprCtrl.data.NewPassword"
    label-key="ui.storefront.user.forgotPasswordReturn.NewPassword"
    placeholder-key="ui.storefront.userDashboard2.controls.userProfile.EnterYourNewPassword"
    tooltip-key="ui.storefront.user.registration.PasswordRequirements.Message"
    ng-required="false"
    force-tooltip-with-focus="true"
    is-new="true"
    show-valid-tooltip="true">
  </password-input-form-group>
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-block btn-lg"
      translate-attr="{ title: 'ui.storefront.user.forcedPasswordReset.ChangePassword',
                        'aria-label': 'ui.storefront.user.forcedPasswordReset.ChangePassword' }"
      data-translate="ui.storefront.user.forcedPasswordReset.ChangePassword"
      ng-disabled="!fprCtrl.forms.forcedPasswordReset.$valid"
      ng-click="fprCtrl.doForcedPasswordReset()">
    </button>
  </div>
  <div class="col-12 mt-4" ng-if="fprCtrl.viewState.hasError">
    <div class="alert alert-danger">
      <p>
        <span data-translate="ui.storefront.user.forcedPasswordReset.Error"></span>&nbsp;<!--
        --><a ui-sref-plus uisrp-area="contactUs"
        ><span data-translate="ui.storefront.user.forcedPasswordReset.ContactUs"></span></a>
      </p>
    </div>
  </div>
  <div class="col-12 mt-4" ng-if="fprCtrl.wasSent">
    <div class="alert alert-success">
      <p>
        <b><span data-translate="ui.storefront.user.forcedPasswordReset.Success"></span></b>&nbsp;<!--
        --><span data-translate="ui.storefront.user.forcedPasswordReset.YourPasswordHasBeenChanged"></span>
      </p>
    </div>
  </div>
</div>
