<div class="form-vertical" ng-form="fprCtrl.forms.forgotPasswordReturn">
  <div class="row">
    <div class="col-12">
      <h2 data-translate="ui.storefront.user.forgotPasswordReturn.PasswordResetForm"></h2>
      <p data-translate="ui.storefront.user.forgotPasswordReturn.WithAValidTokenWeCanSetANewPasswordOnYourAccountYouWillBeRequired"></p>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': fprCtrl.forms.forgotPasswordReturn.txtEmail.$invalid}">
    <label class="control-label" for="txtEmail"
      ><span data-translate="ui.storefront.common.Email"></span>&nbsp;<!--
      --><span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-prepend input-group-text"><i class="far fa-at fa-fw" aria-hidden="true"></i></div>
        <input type="email" class="form-control"
          id="txtEmail" name="txtEmail"
          translate-attr="{ placeholder: 'ui.storefront.common.Email' }"
          ng-required="true"
          ng-model="fprCtrl.data.Email" />
      </div>
      <div ng-messages="fprCtrl.forms.forgotPasswordReturn.txtEmail.$error">
        <div ng-messages-include="{{'/framework/store/checkout/views/validationMessages.html' | corsLink: 'ui'}}"></div>
      </div>
    </div>
  <div class="form-group" ng-class="{'has-error': fprCtrl.forms.forgotPasswordReturn.txtToken.$invalid}">
    <label class="control-label" for="txtToken"
      ><span data-translate="ui.storefront.user.forgotPasswordReturn.Token"></span>&nbsp;<!--
      --><span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-prepend input-group-text"><i class="far fa-key fa-fw" aria-hidden="true"></i></div>
        <input type="text" class="form-control"
          id="txtToken" name="txtToken"
          translate-attr="{ 'placeholder': 'ui.storefront.user.forgotPasswordReturn.Token' }"
          ng-required="true"
          ng-disabled="true"
          ng-model="fprCtrl.data.Token" />
      </div>
      <div ng-messages="fprCtrl.forms.forgotPasswordReturn.txtToken.$error">
        <div ng-messages-include="{{'/framework/store/checkout/views/validationMessages.html' | corsLink: 'ui'}}"></div>
      </div>
    </div>
  <div class="form-group" ng-class="{'has-error': fprCtrl.forms.forgotPasswordReturn.txtPassword.$invalid}">
    <label class="control-label col-sm-3 text-nowrap" for="txtPassword"
      uib-tooltip="{{'ui.storefront.user.registration.PasswordRequirements.Message' | translate}}"
      ><span data-translate="ui.storefront.user.forgotPasswordReturn.NewPassword"></span>&nbsp;<!--
      --><span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-prepend input-group-text"><i class="far fa-key fa-fw" aria-hidden="true"></i></div>
        <input type="password" class="form-control"
          id="txtPassword" name="txtPassword"
          ng-required="true"
          placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
          ng-change="fprCtrl.passwordChanged()"
          ng-model="fprCtrl.data.Password" />
        <div class="input-group-append input-group-text" ng-if="fprCtrl.passwordValidityState == 'Empty'">
          <i class="far fa-minus" aria-hidden="true"></i>
          <span class="sr-only" data-translate="ui.storefront.user.forgotPasswordReturn.EmptyPasswordField"></span>
        </div>
        <div class="input-group-append input-group-text alert-success" ng-if="fprCtrl.passwordValidityState == 'Valid'">
          <i class="far fa-check" aria-hidden="true"></i>
          <span class="sr-only" data-translate="ui.storefront.user.forgotPasswordReturn.ValidPassword"></span>
        </div>
        <div class="input-group-append input-group-text alert-danger" ng-if="fprCtrl.passwordValidityState == 'Invalid'">
          <i class="far fa-times" aria-hidden="true"></i>
          <span class="sr-only" data-translate="ui.storefront.user.forgotPasswordReturn.InvalidPassword"></span>
        </div>
      </div>
      <div ng-messages="fprCtrl.forms.forgotPasswordReturn.txtPassword.$error">
        <div ng-messages-include="{{'/framework/store/checkout/views/validationMessages.html' | corsLink: 'ui'}}"></div>
      </div>
    </div>
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-block btn-lg"
        data-translate="ui.storefront.user.forgotPasswordReturn.SaveNewPassword"
        ng-disabled="fprCtrl.forms.forgotPasswordReturn.$invalid || fprCtrl.passwordValidityState == 'Invalid'"
        ng-click="fprCtrl.submit()">
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12" ng-show="fprCtrl.hasError">
      <div class="alert alert-danger">
        <p>
          <span data-translate="ui.storefront.user.forgotPasswordReturn.ThereWasAnIssueApplyingTheNewPasswordPleaseCheckYourInputsAndTry"></span>&nbsp;<!--
          --><a ui-sref-plus uisrp-area="contactUs"
              ><span data-translate="ui.storefront.common.ContactUs"></span></a>
        </p>
      </div>
    </div>
  </div>
</div>
