<div class="row form-vertical">
  <div class="col-12">
    <h2 class="text-center"
      data-translate="ui.storefront.user.forgotPassword.RequestAPasswordReset">
    </h2>
    <p>
      <span data-translate="ui.storefront.user.forgotPassword.YourPrivacyIsImportantToUs.Message"></span>&nbsp;<!--
      --><b ng-bind="fpCtrl.cefConfig.featureSet.login.emailForForgot"></b>&nbsp;<!--
      --><span data-translate="ui.storefront.user.forgotPassword.IsAddedToYourEmailWhitelistApprovedSendersAndCheckYourSpamJunkFolders"></span>.
    </p>
  </div>
  <div class="col-12">
    <div class="row" ng-form="fpCtrl.forms.fp">
      <div class="form-group col-12"
        ng-class="{'has-error': fpCtrl.forms.fp.txtForgotPasswordEmail.$invalid}">
        <label class="control-label" for="txtForgotPasswordEmail">
          <span data-translate="ui.storefront.common.Email"></span>&nbsp;<!--
          --><span class="text-danger">*</span>
        </label>
        <div class="input-group">
          <div class="input-group-prepend input-group-text">
            <i class="far fa-at fa-fw" aria-hidden="true"></i>
          </div>
          <input type="email" class="form-control"
            id="txtForgotPasswordEmail" name="txtForgotPasswordEmail"
            placeholder="john.smith@email.com"
            ng-required="true"
            ng-model="fpCtrl.data.Email" />
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col text-right">
        <!--
        <a ui-sref-plus uisrp-area="registration">
          <span data-translate="ui.storefront.common.Register"></span>
        </a><br/>
        -->
        <a ui-sref-plus uisrp-area="login">
          <span data-translate="ui.storefront.common.Login"></span>
        </a>
      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary btn-lg"
          translate-attr="{ title: 'ui.storefront.user.forgotPassword.RequestPasswordReset',
                            'aria-label': 'ui.storefront.user.forgotPassword.RequestPasswordReset' }"
          data-translate="ui.storefront.user.forgotPassword.RequestPasswordReset"
          ng-disabled="fpCtrl.forms.fp.$invalid || fpCtrl.wasSent"
          ng-click="fpCtrl.submit()">
        </button>
      </div>
    </div>
  </div>
  <div class="col-12 mt-3" ng-if="fpCtrl.hasError" role="alert">
    <div class="alert alert-danger">
      <span data-translate="ui.storefront.user.forgotPassword.ThereWasAnIssueSendingThePasswordResetEmailPleaseCheckYourInputsAndTry"
      ></span>&nbsp;<!--
      --><a ui-sref-plus uisrp-area="contactUs"
      ><span data-translate="ui.storefront.common.ContactUs"></span></a>
    </div>
  </div>
  <div class="col-12 mt-3" ng-if="fpCtrl.wasSent" role="alert">
    <div class="alert alert-success d-flex align-items-center">
      <i class="far fa-check fa-2x fa-fw"></i>&nbsp;<!--
      --><b data-translate="ui.storefront.user.forgotPassword.CheckYourEmailForAPasswordResetLink"></b>
    </div>
  </div>
</div>
