<?xml version="1.0" encoding="utf-8"?>
<rules>
  <!-- This rule must always be enabled -->
  <rule name="CORS Origin Grabber">
    <match url=".*" />
    <conditions>
      <add input="{HTTP_ORIGIN}" pattern=".+" />
    </conditions>
    <serverVariables>
      <set name="ORIGIN_HOST" value="{C:0}" />
    </serverVariables>
    <action type="None" />
  </rule>
  <rule name="HTTPS Redirect" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="^OFF$" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
  </rule>
  <rule name="Prioritize Brotli">
    <match url=".*" />
    <conditions>
      <add input="{HTTP_ACCEPT_ENCODING}" pattern="\bbr(?!;q=0)\b" />
    </conditions>
    <serverVariables>
      <set name="HTTP_ACCEPT_ENCODING" value="br, {HTTP_ACCEPT_ENCODING}" />
    </serverVariables>
  </rule>
  <rule name="Admin SPA Routes">
      <match url=".*" />
      <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          <add input="{REQUEST_URI}" pattern="^/Admin/Clarity-Ecommerce-Admin" />
      </conditions>
      <action type="Rewrite" url="/admin.html" />
  </rule>
  <rule name="SPA Routes" stopProcessing="false">
    <match url=".*" />
    <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        <add input="{REQUEST_URI}" pattern="^/DesktopModules" negate="true" />
    </conditions>
    <action type="Rewrite" url="/index.html" />
  </rule>
</rules>
