<div uib-accordion-group is-open="false" template-url="cat-filters-group-template.html">
    <div uib-accordion-heading>
        <i class="far fa-search fa-fw mr-2 text-body small"></i>
        <span class="text-body small"
              sid="AppliedFiltersSearchNameMenuText"
              data-translate="ui.storefront.searchCatalog.filters.SearchName">
        </span>
    </div>
    <div class="input-group">
        <input type="text" class="form-control"
               id="txtName" name="txtName"
               translate-attr="{ placeholder: 'ui.storefront.searchCatalog.controls.externalSearchBox.Search.Ellipses' }"
               ng-disabled="scfbqnCtrl.service.searchIsRunning"
               ng-keypress="scfbqnCtrl.inputKeyPress($event)"
               ng-model="scfbqnCtrl.service.queryName" />
        <!-- typeahead-on-select($item, $model, $label) (Defaults: null) : A callback executed when a match is selected -->
        <div class="input-group-append input-group-btn">
            <button type="button" class="btn btn-outline-secondary"
                    ng-disabled="scfbqnCtrl.service.searchIsRunning"
                    ng-click="scfbqnCtrl.setSearchForm()">
                <i class="far"
                   ng-class="scfbqnCtrl.service.searchIsRunning ? 'fa-spinner fa-spin' : 'fa-search'"></i>
                <!--
                -->
                <span class="sr-only" data-translate="ui.storefront.stores.storeDirectory.Search"></span>
            </button>
        </div>
    </div>
</div>
