<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="..\..\..\..\Solution Items\appSettings.config">
    <add key="Clarity.Testing.Username" value="clarity" />
    <add key="Clarity.Testing.Password" value="QAZXSWwsxzaq!@#$4321" />
    <add key="Clarity.Testing.Waits.FindElementWaitInMS"   value="1000" />
    <add key="Clarity.Testing.Waits.FirstPageLoadWaitInMS" value="180000" />
    <add key="Clarity.Testing.Waits.LoginWaitInMS"         value="8000" />
    <add key="Clarity.Testing.Waits.PageLoadWaitInMS"      value="5000" />
    <add key="Clarity.Testing.Waits.ModalOpenWaitInMS"     value="5000" />
    <add key="Clarity.Testing.Waits.MenuOpenWaitInMS"      value="3000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
