<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Clarity.Ecommerce.Providers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="bin\connectionStrings.config" />
  <log4net configSource="bin\log4net.config" />
  <appSettings file="..\..\..\Solution Items\appSettings.config" />
  <system.net>
    <mailSettings>
      <smtp configSource="bin\mailSettings.config" />
    </mailSettings>
    <!-- Send traffic over Fiddler's capture port
    <defaultProxy enabled="true">
        <proxy proxyaddress="http://127.0.0.1:8888" bypassonlocal="false" />
    </defaultProxy>
    -->
  </system.net>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" strict="false" targetFramework="4.7.2" optimizeCompilations="true" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="false" />
    <customErrors mode="Off" />
    <pages validateRequest="false" enableViewStateMac="true" enableEventValidation="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <clear />
        <!-- ReSharper disable WebConfig.UnusedRemoveOrClearTag -->
        <remove namespace="DotNetNuke" />
        <remove namespace="DotNetNuke.Common" />
        <remove namespace="DotNetNuke.Common.Utilities" />
        <remove namespace="DotNetNuke.Data" />
        <remove namespace="DotNetNuke.Entities.Portals" />
        <remove namespace="DotNetNuke.Entities.Tabs" />
        <remove namespace="DotNetNuke.Entities.Users" />
        <remove namespace="DotNetNuke.Framework" />
        <remove namespace="DotNetNuke.HttpModules" />
        <remove namespace="DotNetNuke.Instrumentation" />
        <remove namespace="DotNetNuke.Log4Net" />
        <remove namespace="DotNetNuke.Modules" />
        <remove namespace="DotNetNuke.Professional" />
        <remove namespace="DotNetNuke.Professional.DigitalAssets" />
        <remove namespace="DotNetNuke.Security" />
        <remove namespace="DotNetNuke.Services" />
        <remove namespace="DotNetNuke.Services.Exceptions" />
        <remove namespace="DotNetNuke.Services.Localization" />
        <remove namespace="DotNetNuke.UI" />
        <remove namespace="DotNetNuke.Web.Mvc" />
        <remove namespace="ImageResizer" />
        <remove namespace="Mandeeps.DNN.Modules.LiveUtilities" />
        <remove namespace="Evoq" />
        <remove namespace="Evoq.Library" />
        <remove namespace="System.Web.Mvc" />
        <remove namespace="System.Web.Mvc.Ajax" />
        <remove namespace="System.Web.Mvc.Html" />
        <remove namespace="System.Web.Routing" />
        <!-- ReSharper restore WebConfig.UnusedRemoveOrClearTag -->
      </namespaces>
    </pages>
    <httpHandlers>
      <clear />
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <httpModules>
      <clear />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="Analytics" />
      <remove name="ClaimsPrincipalHttpModule" />
      <remove name="ClientDependencyModule" />
      <remove name="Compression" />
      <remove name="Detector" />
      <remove name="DnnApiEndpoint" />
      <remove name="DnnApiEndpointRewriter" />
      <remove name="DNNMembership" />
      <remove name="DnnSharp.Common.InitCommonDlls.DnnApiEndpoint" />
      <remove name="DnnSharp.Common.InitCommonDlls.SearchBoost" />
      <remove name="DnnSharp.Common.InitCommonDlls.ActionForm" />
      <remove name="DnnSharp.Common.InitCommonDlls" />
      <remove name="EditBarModule" />
      <remove name="EvoqContentModule" />
      <remove name="EvoqLibraryModule" />
      <remove name="Exception" />
      <remove name="ImageResizingModule" />
      <remove name="LiveUtilitiesModule" />
      <remove name="Localization" />
      <remove name="Marketo" />
      <remove name="MobileRedirect" />
      <remove name="MVCModules" />
      <remove name="OpenFromServer" />
      <remove name="OutputCaching" />
      <remove name="PersonaBarModule" />
      <remove name="Personalization" />
      <remove name="RadUploadModule" />
      <remove name="RequestFilter" />
      <remove name="ScriptModule" />
      <remove name="SearchBoost" />
      <remove name="Services" />
      <remove name="SessionAuthenticationModule" />
      <remove name="Sitefinity" />
      <remove name="SitefinityAnalyticsModule" />
      <remove name="SitefinityClaimsAuthenticationModule" />
      <remove name="TrackDocumentStats" />
      <remove name="UrlRewrite" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="UsersOnline" />
      <remove name="WebDAVModule" />
      <add name="FormsAuthenticationDisposition" type="ServiceStack.SuppressFormsAuthenticationRedirectModule, ServiceStack" />
    </modules>
    <handlers>
      <remove name="CacheSynchronizationHandler" />
      <remove name="CaptchaHandler" />
      <remove name="ClientDependencyHandler" />
      <remove name="DnnApiEndpoint" />
      <remove name="DnnImageHandler" />
      <remove name="DotNetNuke.DNNScheduler" />
      <remove name="DotNetNuke.HttpModules" />
      <remove name="Evoq" />
      <remove name="Evoq.Library" />
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="HtmTemplateFileHandler" />
      <remove name="LinkClickHandler" />
      <remove name="LogoffHandler*" />
      <remove name="RadProgressHandler" />
      <remove name="RSSHandler" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="SearchBoost" />
      <remove name="ServiceStack.Factory" />
      <remove name="Sitefinity .svc map 2" />
      <remove name="Sitefinity .xamlx map 2" />
      <remove name="Sitefinity svc map" />
      <remove name="Sitefinity svc" />
      <remove name="Sitefinity xamlx map" />
      <remove name="Sitefinity xamlx" />
      <remove name="SitemapHandler" />
      <remove name="Telerik.RadUploadProgressHandler" />
      <remove name="Telerik.ReportViewer.axd_*" />
      <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
      <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
      <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
      <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
      <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
      <remove name="Telerik.Sitefinity.Html5UploadHandler" />
      <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
      <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
      <remove name="Telerik.Web.UI" />
      <remove name="Telerik.Web.UI.ChartHttpHandler" />
      <remove name="Telerik.Web.UI.DialogHandler" />
      <remove name="Telerik.Web.UI.SpellCheckHandler" />
      <remove name="Telerik.Web.UI.WebResource" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="UserProfilePageHandler" />
      <remove name="UserProfilePicHandler" />
      <remove name="WebDAV" />
      <remove name="WildCard" />
      <remove name="WildCard32" />
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
    <urlCompression doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="server" />
        <remove name="X-Powered-By" />
        <remove name="x-powered-by" />
        <remove name="X-Frame-Options" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
  <runtime>
    <gcConcurrent enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ElasticSearch.Net" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.Extensions.Core" publicKeyToken="d7d863643bcd13ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.5.0" newVersion="5.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <!-- NOTE: Required only for Heartland Payments Provider Use
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>-->
      <!--
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      -->
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  -->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <!--
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      -->
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RateBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RateBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="RateServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="RateServiceSoapBinding1" />
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="USSRatingServiceSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="USSRatingServiceSoap11Binding1" />
        <binding name="BasicHttpBinding_IRequestHandler">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRequestHandler1">
          <security mode="Transport" />
        </binding>
        <!--<binding name="PaymentechGateway" textEncoding="ISO-8859-1">-->
        <!--<binding name="PaymentechGateway" textEncoding="utf-8">-->
        <binding name="PaymentechGateway">
          <security mode="Transport" />
        </binding>
        <!--<binding name="PaymentechGateway1" textEncoding="ISO-8859-1">-->
        <!--<binding name="PaymentechGateway1" textEncoding="utf-8">-->
        <binding name="PaymentechGateway1">
          <security mode="Transport" />
        </binding>
        <!--<binding name="PaymentechGateway2" textEncoding="ISO-8859-1" />-->
        <!--<binding name="PaymentechGateway2" textEncoding="utf-8" />-->
        <binding name="PaymentechGateway2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="USSRatingServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api.demo.globalgatewaye4.firstdata.com/transaction/v19" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="PayeezyService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://ws.fedex.com:443/web-services" binding="basicHttpBinding" bindingConfiguration="RateServiceSoapBinding" contract="FedExRateService.RatePortType" name="RateServicePort" />
      <endpoint address="https://wwwcie.ups.com/webservices/Rate" binding="basicHttpBinding" bindingConfiguration="RateBinding" contract="UPSPackageRateService.RatePortType" name="RatePort" />
      <endpoint address="https://sandbox.loomis-express.com/axis2/services/USSRatingService.USSRatingServiceHttpsSoap11Endpoint/" binding="basicHttpBinding" bindingConfiguration="USSRatingServiceSoap11Binding" contract="LoomisService.USSRatingServicePortType" name="USSRatingServiceHttpsSoap11Endpoint" />
      <endpoint address="https://sandbox.loomis-express.com/axis2/services/USSRatingService.USSRatingServiceHttpsSoap12Endpoint/" binding="customBinding" bindingConfiguration="USSRatingServiceSoap12Binding" contract="LoomisService.USSRatingServicePortType" name="USSRatingServiceHttpsSoap12Endpoint" />
      <endpoint address="https://www.bridgepaynetsecuretest.com/PaymentService/RequestHandler.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestHandler" contract="BridgePayTestService.IRequestHandler" name="BasicHttpBinding_IRequestHandler" />
      <endpoint address="https://www.bridgepaynetsecuretx.com/PaymentService/RequestHandler.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestHandler1" contract="BridgePayProdService.IRequestHandler" name="BasicHttpBinding_IRequestHandler1" />
      <endpoint address="https://wsvar1.chasepaymentech.com/PaymentechGateway" binding="basicHttpBinding" bindingConfiguration="PaymentechGateway" contract="PaymentechService.PaymentechGatewayPortType" name="PaymentechGateway" />
      <endpoint address="https://wsvar2.chasepaymentech.com/PaymentechGateway" binding="basicHttpBinding" bindingConfiguration="PaymentechGateway1" contract="PaymentechService.PaymentechGatewayPortType" name="PaymentechGatewayFailover" />
    </client>
  </system.serviceModel>
</configuration>
