<cv-page caption="{{'ui.admin.views.system.uiKeysList.ManageUiKeys' | translate}}" head-icon="fa-gear"
    ng-if="$root.cvSecurityService.hasPermission('Admin.System.UiKeys')">
    <cv-widget>
        <widget-menu-item caption="{{'ui.admin.views.system.uiKeysList.AddUiKey' | translate}}"
            icon-class="fa-plus-circle"
            click="$root.$state.go('system.uiKeys.detail',{ID:'New'})"
            permission="'Globalization.UiKey.Create'"></widget-menu-item>
        <widget-body ng-controller="SearchController as search">
            <cv-grid show-pager="true" page-sizes="8,16,32,64,128" server-paging="true"
                     sortable="false" server-sorting="true"
                     on-search="search.getUiKeys"
                     partial-reset="false"
                     on-deactivate="search.deactivateUiKey"
                     on-reactivate="search.reactivateUiKey"
                     on-delete="search.deleteUiKey"
                     edit-state="system.uiKeys.detail,[ID]"
                     permissions-base="Globalization.UiKey">
                <cv-column filter field="ID" title="#" width="50px" />
                <cv-column filter field="CustomKey" title="Key" width="300px" />
            </cv-grid>
        </widget-body>
    </cv-widget>
</cv-page>
