<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings configSource="bin\connectionStrings.config" />
  <log4net configSource="bin\log4net.config" />
  <appSettings file="..\..\..\Solution Items\appSettings.config">
    <!-- True for Scheduler project, false everywhere else -->
    <!--<add key="owin:AutomaticAppStartup" value="true" />-->
    <add key="owin:appStartup" value="Clarity.Ecommerce.Scheduler.Startup" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp configSource="bin\mailSettings.config" />
    </mailSettings>
  </system.net>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" strict="false" targetFramework="4.7.2" optimizeCompilations="false" defaultLanguage="c#" />
    <httpRuntime targetFramework="4.7.2" enableVersionHeader="false" />
    <customErrors mode="Off" />
    <pages validateRequest="false" enableViewStateMac="true" enableEventValidation="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <clear />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!-- Note: If your scheduler won't load, uncomment one thing at time here until it does -->
    <modules>
      <remove name="Analytics" />
      <!--<remove name="ClaimsPrincipalHttpModule" />-->
      <remove name="ClientDependencyModule" />
      <remove name="Compression" />
      <remove name="Detector" />
      <remove name="DnnApiEndpoint" />
      <remove name="DnnApiEndpointRewriter" />
      <remove name="DNNMembership" />
      <remove name="DnnSharp.Common" />
      <remove name="DnnSharp.Common.InitCommonDlls.DnnApiEndpoint" />
      <remove name="DnnSharp.Common.InitCommonDlls.SearchBoost" />
      <remove name="EditBarModule" />
      <remove name="EvoqContentModule" />
      <remove name="EvoqLibraryModule" />
      <remove name="Exception" />
      <remove name="ImageResizingModule" />
      <remove name="Licensing" />
      <remove name="LiveUtilitiesModule" />
      <remove name="Localization" />
      <remove name="Marketo" />
      <remove name="MobileRedirect" />
      <remove name="MVCModules" />
      <!--<remove name="OpenFromServer" />-->
      <remove name="OutputCaching" />
      <remove name="PersonaBarModule" />
      <remove name="Personalization" />
      <!--<remove name="RadUploadModule" />-->
      <remove name="RequestFilter" />
      <!--<remove name="ScriptModule" />-->
      <remove name="Services" />
      <!--<remove name="SessionAuthenticationModule" />-->
      <!--<remove name="Sitefinity" />-->
      <!--<remove name="SitefinityAnalyticsModule" />-->
      <!--<remove name="SitefinityClaimsAuthenticationModule" />-->
      <!--<remove name="TrackDocumentStats" />-->
      <remove name="UrlRewrite" />
      <!--<remove name="UrlRoutingModule-4.0" />-->
      <!--<remove name="UsersOnline" />-->
    </modules>
    <handlers>
      <!--
      <remove name="CacheSynchronizationHandler" />
      <remove name="CaptchaHandler" />
      <remove name="ClientDependencyHandler" />
      <remove name="DnnApiEndpoint" />
      <remove name="DnnImageHandler" />
      <remove name="DotNetNuke.DNNScheduler" />
      <remove name="DotNetNuke.HttpModules" />
      <remove name="Evoq" />
      <remove name="Evoq.Library" />
      <remove name="ExtensionlessUrl-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="HtmTemplateFileHandler" />
      <remove name="LinkClickHandler" />
      <remove name="LogoffHandler*" />
      <remove name="RadProgressHandler" />
      <remove name="RSSHandler" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <remove name="ServiceStack.Factory" />
      <remove name="Sitefinity .svc map 2" />
      <remove name="Sitefinity .xamlx map 2" />
      <remove name="Sitefinity svc map" />
      <remove name="Sitefinity svc" />
      <remove name="Sitefinity xamlx map" />
      <remove name="Sitefinity xamlx" />
      <remove name="SitemapHandler" />
      <remove name="Telerik.RadUploadProgressHandler" />
      <remove name="Telerik.ReportViewer.axd_*" />
      <remove name="Telerik.Sitefinity.AsyncFileUploadHandler" />
      <remove name="Telerik.Sitefinity.AsyncImageUploadHandler" />
      <remove name="Telerik.Sitefinity.AsyncToolsetXmlUploadHandler" />
      <remove name="Telerik.Sitefinity.ExportSubscribersHttpHandler" />
      <remove name="Telerik.Sitefinity.FilesDownloadHandler" />
      <remove name="Telerik.Sitefinity.Html5UploadHandler" />
      <remove name="Telerik.Sitefinity.LibrariesRadUploadHandler" />
      <remove name="Telerik.Sitefinity.ThumbnailUploadHandler" />
      <remove name="Telerik.Web.UI" />
      <remove name="Telerik.Web.UI.ChartHttpHandler" />
      <remove name="Telerik.Web.UI.DialogHandler" />
      <remove name="Telerik.Web.UI.SpellCheckHandler" />
      <remove name="Telerik.Web.UI.WebResource" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <remove name="UserProfilePageHandler" />
      <remove name="UserProfilePicHandler" />
      <remove name="WildCard" />
      <remove name="WildCard32" />
      -->
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="server" />
        <remove name="X-Powered-By" />
        <remove name="x-powered-by" />
        <remove name="X-Frame-Options" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
        <applicationInitialization doAppInitAfterRestart="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.Extensions.Core" publicKeyToken="d7d863643bcd13ef" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
