<!-- step.payment.view Template -->
<div class="row">
  <div class="col-12 col-sm">
    <div cef-purchase-step-view-title></div>
  </div>
  <div class="col-12 col-sm-auto"
     ng-show="step.complete">
    <div cef-purchase-step-payment-summary
      cart-type="{{pCtrl.cartType}}">
    </div>
  </div>
  <hr class="w-100 my-2 mx-3" />
  <div ng-show="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
    class="col-12"
    ng-form="pCtrl.forms.payment">
    <div cef-purchase-step-payment-body
      cart-type="{{pCtrl.cartType}}">
    </div>
  </div>
  <div ng-show="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
     class="col-12">
    <button type="button" class="btn btn-primary mb-3"
      id="btnSubmit_{{step.name}}" name="btnSubmit_{{step.name}}"
      translate-attr="{
        title: step.paymentMethod.Cart === pCtrl.cvServiceStrings.checkout.paymentMethods.quoteMe
          ? 'ui.storefront.checkout.views.shippingInformation.quoteMeText'
          : pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue',
        'aria-label': step.paymentMethod.Cart === pCtrl.cvServiceStrings.checkout.paymentMethods.quoteMe
          ? 'ui.storefront.checkout.views.shippingInformation.quoteMeText'
          : pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue' }"
      data-translate="{{step.paymentMethod.Cart === pCtrl.cvServiceStrings.checkout.paymentMethods.quoteMe
        ? 'ui.storefront.checkout.views.shippingInformation.quoteMeText'
        : pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue'}}"
      ng-disabled="pCtrl.viewState.running || pCtrl.forms.payment.$invalid || step.invalid"
      ng-click="pCtrl.submit(pCtrl.cartType, step)">
    </button>
    <!--
    <span>[Debug: Running: {{pCtrl.viewState.running}}]</span>
    <span>[Debug: Invalid: {{step.invalid}}]</span>
    <span>[Debug: $invalid: {{pCtrl.forms.payment.$invalid}}]</span>
    -->
  </div>
  <hr ng-show="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
    class="w-100 my-2 mx-3" />
  <!--
  <div ng-if="pCtrl.viewState.running"
    cef-loading-widget
    overlay="true"
    size="3"
    pad-in="true"
    message="pCtrl.viewState.waitMessage">
  </div>
  -->
</div>
