<div class="modal-content cef-modal-check-inventory text-center no-store">
    <button type="button" class="close"
            translate-attr="{ title: 'ui.storefront.common.Close', 'aria-label': 'ui.storefront.common.Close' }"
            ng-click="$close()"
            data-translate="ui.storefront.common.Close"></button>
    <div class="row">
        <div class="col-12">
            <h4 data-translate="ui.storefront.location.selectStoreModal.CheckInventoryIsOnlyAvailableWIthStoreSelection"></h4>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-small btn-secondary btn-close"
                    translate-attr="{ title: 'ui.storefront.common.Close', 'aria-label': 'ui.storefront.common.Close' }"
                    ng-click="$close()"
                    data-translate="ui.storefront.common.Close"></button>
            <a class="btn btn-small btn-secondary"
               ui-sref-plus uisrp-area="storeLocator"
               ><span data-translate="ui.storefront.location.locationStoreSelector.seeAllLocations"></span></a>
        </div>
    </div>
</div>
