// Clarity Header Styles, for CEF-2020.1.x+ w/ BS4

.bg-dark-blue {
  background-color: $dark-blue;
}

.container nav.navbar {
  padding-left: 15px;
  padding-right: 15px;
}

#headerBotContent {
  > div.navbar-nav {
    > ul.navbar-nav {
      // Is a Dropdown menu
      margin-left: 18px;
      > li.navbar-nav > ul.nav > li.nav-item.dropdown,
          // Is a direct link
          > li.nav-item {
        > a {
          color: $white !important;
          border-radius: 0;
        }
        &:hover,
        &:focus,
        &.show {
          > a {
            text-decoration: none;
            color: $white !important;
            background-color: $blue !important;
            outline: none;
          }
        }
      }
      // NOTE: The inner parts of the menu are handled in navMegaMenu.scss
    }
  }
}
