# Suppress: EC112

[*.cs]
resharper_inconsistent_naming_highlighting = do_not_show
resharper_multiple_spaces_highlighting = do_not_show
resharper_return_value_of_pure_method_is_not_used_highlighting = do_not_show
dotnet_diagnostic.xUnit1004.severity = none
dotnet_diagnostic.CA1827.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.IDE0055.severity = none
dotnet_diagnostic.IDE0060.severity = none
dotnet_diagnostic.xUnit1004.severity = none
