<div class="container-fluid cv-details-form full-height">
    <div cef-standard-detail-header-widget
         record="packageDetailCtrl.record"
         new-kind-key="ui.admin.controls.shipments.packageDetail.newShippingPackage"
         existing-kind-key="ui.admin.controls.shipments.packageDetail.shippingPackage">
    </div>
    <div class="row details-body">
        <div class="col-md-12 carrier-account-editor">
            <uib-tabset class="tabs-left" vertical="true">
                <uib-tab>
                    <uib-tab-heading><span ng-class="{'text-danger': packageDetailCtrl.forms.Details.$invalid}"><i class="far fa-lg fa-info"></i>&nbsp;<span data-translate="ui.admin.common.Detail.Plural"></span></span></uib-tab-heading>
                    <div class="form-vertical container-fluid" ng-form="packageDetailCtrl.forms.Details">
                        <div class="row">
                            <div class="col-md-4">
                                <h3 data-translate="ui.admin.common.BasicInformation"></h3>
                                <div class="form-group" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtName.$invalid}">
                                    <label class="control-label" data-translate="ui.admin.common.Name"></label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtName" name="txtName"
                                                   maxlength="256"
                                                   ng-required="true"
                                                   ng-model="packageDetailCtrl.record.Name" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.txtName.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': packageDetailCtrl.forms.Details.ddlType.$invalid}">
                                    <label class="control-label" data-translate="ui.admin.controls.shipments.packageDetail.packageType"></label>
                                    <div class="input-group">
                                        <select class="form-control" id="ddlType" name="ddlType"
                                                ng-required="true"
                                                ng-model="packageDetailCtrl.record.TypeID"
                                                ng-options="t.ID as ((t.DisplayName || t.Name) + (t.CustomKey && t.CustomKey != '' ? ' [' + t.CustomKey + ']' : '')) for t in packageDetailCtrl.types | orderBy: ['SortOrder','DisplayName || Name']">
                                            <option value="" ng-disabled="true" data-translate="ui.admin.common.Type.SelectA"></option>
                                        </select>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.ddlType.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtCustomKey.$invalid}">
                                    <label class="control-label" data-translate="ui.admin.common.Key"></label>
                                    <div class="input-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtCustomKey" name="txtCustomKey"
                                                   maxlength="128"
                                                   ng-required="false"
                                                   ng-model="packageDetailCtrl.record.CustomKey" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.txtCustomKey.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <h3 data-translate="ui.admin.controls.shipments.packageDetail.packageDimensions"></h3>
                                <div class="form-group override-bottom-margin-none" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtWeightUnitOfMeasure.$invalid}">
                                    <div class="input-group">
                                        <div class="input-group-addon stack" data-translate="ui.admin.common.Weight"></div>
                                        <input type="number" class="form-control text-right" step="0.0100" placeholder="0.0000"
                                               id="nudWeight" name="nudWeight"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" min="0" ng-min="0"
                                               ng-model="packageDetailCtrl.record.Weight" />
                                        <div class="input-group-addon with-control">
                                            <input type="text" class="form-control" id="txtWeightUnitOfMeasure" name="txtWeightUnitOfMeasure"
                                                   ng-model="packageDetailCtrl.record.WeightUnitOfMeasure" placeholder="lbs" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.nudWeight.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <div class="form-group override-bottom-margin-none" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtWidthUnitOfMeasure.$invalid}">
                                    <div class="input-group">
                                        <div class="input-group-addon stack" data-translate="ui.admin.common.Width"></div>
                                        <input type="number" class="form-control text-right" step="0.0100" placeholder="0.0000"
                                               id="nudWidth" name="nudWidth"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" min="0" ng-min="0"
                                               ng-model="packageDetailCtrl.record.Width" />
                                        <div class="input-group-addon with-control">
                                            <input type="text" class="form-control" id="txtWidthUnitOfMeasure" name="txtWidthUnitOfMeasure"
                                                   ng-model="packageDetailCtrl.record.WidthUnitOfMeasure" placeholder="in" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.nudWidth.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <div class="form-group override-bottom-margin-none" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtDepthUnitOfMeasure.$invalid}">
                                    <div class="input-group">
                                        <div class="input-group-addon stack" data-translate="ui.admin.controls.shipments.packageDetail.Depth"></div>
                                        <input type="number" class="form-control text-right" step="0.0100" placeholder="0.0000"
                                               id="nudDepth" name="nudDepth"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" min="0" ng-min="0"
                                               ng-model="packageDetailCtrl.record.Depth" />
                                        <div class="input-group-addon with-control">
                                            <input type="text" class="form-control" id="txtDepthUnitOfMeasure" name="txtDepthUnitOfMeasure"
                                                   ng-model="packageDetailCtrl.record.DepthUnitOfMeasure" placeholder="in" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.nudDepth.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{'has-error': packageDetailCtrl.forms.Details.txtHeightUnitOfMeasure.$invalid}">
                                    <div class="input-group">
                                        <div class="input-group-addon stack" data-translate="ui.admin.controls.shipments.packageDetail.Height"></div>
                                        <input type="number" class="form-control text-right" step="0.0100" placeholder="0.0000"
                                               id="nudHeight" name="nudHeight"
                                               ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" min="0" ng-min="0"
                                               ng-model="packageDetailCtrl.record.Height" />
                                        <div class="input-group-addon with-control">
                                            <input type="text" class="form-control" id="txtHeightUnitOfMeasure" name="txtHeightUnitOfMeasure"
                                                   ng-model="packageDetailCtrl.record.HeightUnitOfMeasure" placeholder="in" />
                                        </div>
                                    </div>
                                    <div ng-messages="packageDetailCtrl.forms.Details.nudHeight.$error">
                                        <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <!-- Form actions -->
    <div class="row details-footer">
        <div class="col-md-12">
            <cef-standard-detail-footer-buttons
                master-controller="packageDetailCtrl"
                return-state="shipments.shippingPackages.list"
                permissions-base="Shipping.Package">
            </cef-standard-detail-footer-buttons>
        </div>
    </div>
</div>
