@page "/details/settings"

@*<CascadingValue Value="ViewState">*@
  <Div Class="page h-100" ElementId="settingsPage">
    <Div Class="page-content">
      <Container Fluid="true">
        <Row>
          <Column>
            <Heading Size="HeadingSize.Is1" Class="mt-3">Settings</Heading>
            <Paragraph>
              TODO: List settings
            </Paragraph>
          </Column>
        </Row>
      </Container>
    </Div>
  </Div>
@*</CascadingValue>*@

@code
{
}
