<div class="product-detail-breadcrumb" ng-switch="pdbCtrl.product.SerializableAttributes.Template.Value">
  <span class="breadcrumb-prefix"
    ng-if="pdbCtrl.prefix.length"
    ng-bind="pdbCtrl.prefix">
  </span>
  <ol class="breadcrumb bg-white px-0" itemprop="breadcrumb" ng-switch-when="Clothing">
    <li class="breadcrumb-item"
      ng-if="pdbCtrl.firstItem"
      ng-bind="pdbCtrl.firstItem">
    </li>
    <li class="breadcrumb-item"><a a id="btnHomeBreadcrumb"
      ui-sref-plus uisrp-area="site" uisrp-is-home="true"
      ><span data-translate="ui.storefront.common.Home"></span></a></li>
    <li class="breadcrumb-item"><a a id="btnCatalogBreadcrumb"
      ui-sref-plus uisrp-area="site" uisrp-root="{{pdbCtrl.cefConfig.catalog.root}}"
      ><span data-translate="ui.storefront.product.detail.productDetails.Catalog"></span></a></li>
    <li class="breadcrumb-item"
      ng-repeat="cat in pdbCtrl.categoryList">
      <a cef-catalog-category-link category-id="cat.ID"></a>
    </li>
    <li class="breadcrumb-item breadcrumb-last-item"
      sid="ProductBreadcrumbText"
      ng-if="pdbCtrl.lastItem"
      ng-bind="pdbCtrl.lastItem">
    </li>
  </ol>
  <ol class="breadcrumb" itemprop="breadcrumb" ng-switch-default>
    <li class="breadcrumb-item"
      ng-if="pdbCtrl.firstItem"
      ng-bind="pdbCtrl.firstItem">
    </li>
    <li class="breadcrumb-item"><a id="btnHomeBreadcrumb"
      ui-sref-plus uisrp-area="site" uisrp-is-home="true"
      ><span data-translate="ui.storefront.common.Home"></span></a></li>
    <li class="breadcrumb-item"><a id="btnCatalogBreadcrumb"
      ui-sref-plus uisrp-area="site"
      uisrp-root="{{pdbCtrl.cefConfig.catalog.root}}"
      ><span data-translate="ui.storefront.product.detail.productDetails.Catalog"></span></a></li>
    <li class="breadcrumb-item"
      ng-repeat="cat in pdbCtrl.categoryList">
      <a cef-catalog-category-link category-id="cat.ID"></a>
    </li>
    <li class="breadcrumb-item breadcrumb-last-item"
      sid="ProductBreadcrumbText"
      ng-if="pdbCtrl.lastItem"
      ng-bind="pdbCtrl.lastItem">
    </li>
  </ol>
  <span class="breadcrumb-suffix"
    ng-if="pdbCtrl.suffix"
    ng-bind="pdbCtrl.suffix">
  </span>
</div>
