<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net472" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net472" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net472" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net472" />
  <package id="Hangfire.Core" version="1.7.27" targetFramework="net472" />
  <package id="JetBrains.Annotations" version="2021.3.0" targetFramework="net472" />
  <package id="LinqToExcel" version="1.11.0" targetFramework="net472" />
  <package id="log4net" version="2.0.12" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.3" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
  <package id="PayPalCoreSDK" version="1.7.1" targetFramework="net472" />
  <package id="PayPalMerchantSDK" version="2.16.250" targetFramework="net472" />
  <package id="ServiceStack.Client.Signed" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Common.Signed" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Interfaces" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Logging.Log4Net" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Redis.Signed" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Signed" version="4.5.14" targetFramework="net472" />
  <package id="ServiceStack.Text.Signed" version="4.5.14" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="StructureMap" version="4.7.1" targetFramework="net472" />
  <package id="StyleCop.Analyzers.Unstable" version="1.2.0.354" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop.CSharp.Async.Rules" version="6.1.41" targetFramework="net472" developmentDependency="true" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
</packages>