# Suppress: EC112

[**/Models/**.cs]
resharper_inconsistent_naming_highlighting=do_not_show
resharper_stylecop_sa1300_highlighting=do_not_show
resharper_stylecop.sa1300_highlighting=do_not_show
resharper_stylecop_sa1623_highlighting=do_not_show
resharper_stylecop.sa1623_highlighting=do_not_show
