<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Clarity.Ecommerce.Providers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
        <binding name="BasicHttpBinding_IRequestHandler">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IRequestHandler1">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentechGateway">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentechGateway1">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentechGateway2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.demo.globalgatewaye4.firstdata.com/transaction/v19"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="PayeezyService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="https://www.bridgepaynetsecuretest.com/PaymentService/RequestHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestHandler"
                contract="BridgePayTestService.IRequestHandler" name="BasicHttpBinding_IRequestHandler" />
      <endpoint address="https://www.bridgepaynetsecuretx.com/PaymentService/RequestHandler.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRequestHandler1"
                contract="BridgePayProdService.IRequestHandler" name="BasicHttpBinding_IRequestHandler1" />
      <endpoint address="https://wsvar1.chasepaymentech.com/PaymentechGateway"
                binding="basicHttpBinding" bindingConfiguration="PaymentechGateway"
                contract="PaymentechService.PaymentechGatewayPortType" name="PaymentechGateway" />
      <endpoint address="https://wsvar2.chasepaymentech.com/PaymentechGateway"
                binding="basicHttpBinding" bindingConfiguration="PaymentechGateway1"
                contract="PaymentechService.PaymentechGatewayPortType" name="PaymentechGatewayFailover" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
