<?xml version="1.0"?>
<configuration>
  <connectionStrings />
  <appSettings />
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" optimizeCompilations="true" />
    <httpRuntime targetFramework="4.6.2" enableVersionHeader="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="server" />
        <remove name="X-Powered-By" />
        <remove name="x-powered-by" />
        <remove name="X-Frame-Options" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>
</configuration>