<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <RateAvailableServiceWebServiceClient.Properties.Settings>
      <setting name="RateAvailableServiceWebServiceClient_RateServiceWebReference_RateService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/rate</value>
      </setting>
    </RateAvailableServiceWebServiceClient.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="USSRatingServiceSoap11Binding">
          <security mode="Transport" />
        </binding>
        <binding name="USSRatingServiceSoap11Binding1" />
        <binding name="RateBinding">
          <security mode="Transport" />
        </binding>
        <binding name="RateBinding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="USSRatingServiceSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://sandbox.loomis-express.com/axis2/services/USSRatingService.USSRatingServiceHttpsSoap11Endpoint/"
                binding="basicHttpBinding" bindingConfiguration="USSRatingServiceSoap11Binding"
                contract="LoomisService.USSRatingServicePortType" name="USSRatingServiceHttpsSoap11Endpoint" />
      <endpoint address="https://sandbox.loomis-express.com/axis2/services/USSRatingService.USSRatingServiceHttpsSoap12Endpoint/"
                binding="customBinding" bindingConfiguration="USSRatingServiceSoap12Binding"
                contract="LoomisService.USSRatingServicePortType" name="USSRatingServiceHttpsSoap12Endpoint" />
      <endpoint address="https://wwwcie.ups.com/webservices/Rate"
                binding="basicHttpBinding" bindingConfiguration="RateBinding"
                contract="UPSPackageRateService.RatePortType" name="RatePort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>