<!-- step.splitShipping.view Template -->
<div class="row">
  <div class="col-12 col-sm">
    <div cef-purchase-step-view-title></div>
  </div>
  <div class="col-12 col-sm-auto"
    ng-show="step.complete">
    <div cef-purchase-step-split-shipping-summary
      cart-type="{{pCtrl.cartType}}">
    </div>
  </div>
  <hr class="w-100 my-2 mx-3" />
  <div ng-if="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
    class="col-12"
    ng-form="pCtrl.forms.splitShipping">
    <div cef-purchase-step-split-shipping-body
      cart-type="{{pCtrl.cartType}}"
      id-suffix="Shipping">
    </div>
  </div>
  <div ng-show="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
    class="col-12">
    <div class="row">
      <div class="col-auto">
        <button type="button" class="btn btn-primary mb-3"
          id="btnSubmit_{{step.name}}" name="btnSubmit_{{step.name}}"
          translate-attr="{ title: pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue',
                            'aria-label': pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue' }"
          data-translate="{{pCtrl.service.steps[pCtrl.cartType][$index + 1].continueTextKey || 'Continue'}}"
          ng-disabled="pCtrl.viewState.running || pCtrl.forms.splitShipping.$invalid || step.invalid"
          ng-click="pCtrl.submit(pCtrl.cartType, step)">
        </button>
      </div>
      <div class="col" ng-if="pCtrl.cefConfig.debug">
        <div class="alert alert-dark">
          <h4 class="alert-heading">Debug Info for this step</h4>
          <table class="table table-borderless table-hover table-sm mb-0">
            <tr>
              <th>pCtrl.viewState.running</th>
              <td>{{pCtrl.viewState.running}}</td>
            </tr>
            <tr>
              <th>pCtrl.forms.splitShipping.$invalid</th>
              <td>{{pCtrl.forms.splitShipping.$invalid}}</td>
            </tr>
            <tr>
              <th>step.invalid</th>
              <td>{{step.invalid}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr ng-show="step.index === pCtrl.service.activeStep[pCtrl.cartType]"
    class="w-100 my-2 mx-3" />
  <!--
  <div ng-if="pCtrl.viewState.running"
     cef-loading-widget
     overlay="true"
     size="3"
     pad-in="true"
     message="pCtrl.viewState.waitMessage">
  </div>
  -->
</div>
