<div ng-form="pwIFGCtrl.forms.{{pwIFGCtrl.formIdentifier}}"
  class="form-group"
  ng-class="[{'has-error': pwIFGCtrl.formInvalid},pwIFGCtrl.formClasses]">
  <label class="control-label" for="{{pwIFGCtrl.inputName}}"
    uib-tooltip="{{pwIFGCtrl.tooltip}}"
    tooltip-is-open="pwIFGCtrl.tooltipIsOpen"
    tooltip-placement="auto top-left">
    <span data-translate="{{pwIFGCtrl.labelKey}}">{{pwIFGCtrl.labelText}}</span><!--
    --><span ng-if="pwIFGCtrl.required" class="text-danger">&nbsp;*</span><!--
    --><span ng-if="pwIFGCtrl.tooltip" class="text-info">&nbsp;<!--
    --><i class="far fa-question-circle"></i></span>
  </label>
  <div class="input-group">
    <input type="{{pwIFGCtrl.showPassword ? 'text' : 'password'}}" class="form-control"
      ng-class="[{'is-valid': pwIFGCtrl.applyIsValidClass || pwIFGCtrl.applyIsInvalidClass,
                  'is-invalid': pwIFGCtrl.applyIsInvalidClass },
                  pwIFGCtrl.inputClass]"
      id="{{pwIFGCtrl.inputName}}"
      name="{{pwIFGCtrl.inputName}}"
      autocomplete="{{pwIFGCtrl.isNew ? 'new' : 'current'}}-password"
      translate-attr="{ placeholder: pwIFGCtrl.placeholderKey }"
      placeholder="{{pwIFGCtrl.placeholderText}}"
      ng-minlength="pwIFGCtrl.minLength || ''"
      ng-maxlength="pwIFGCtrl.maxLength || ''"
      ng-blur="pwIFGCtrl.extraOnBlur($event)"
      ng-focus="pwIFGCtrl.extraOnFocus($event)"
      ng-keydown="pwIFGCtrl.extraOnKeydown($event)"
      ng-keypress="pwIFGCtrl.extraOnKeypress($event)"
      ng-keyup="pwIFGCtrl.extraOnKeyup($event)"
      ng-mousedown="pwIFGCtrl.extraOnMousedown($event)"
      ng-mouseenter="pwIFGCtrl.extraOnMouseenter($event)"
      ng-mouseleave="pwIFGCtrl.extraOnMouseleave($event)"
      ng-mousemove="pwIFGCtrl.extraOnMousemove($event)"
      ng-mouseover="pwIFGCtrl.extraOnMouseover($event)"
      ng-mouseup="pwIFGCtrl.extraOnMouseup($event)"
      ng-change="pwIFGCtrl.extraOnChange($event)"
      ng-disabled="pwIFGCtrl.disabled"
      ng-required="pwIFGCtrl.required"
      ng-model-options="pwIFGCtrl.options"
      ng-model="pwIFGCtrl.property" />
    <div class="input-group-btn">
      <button type="button" class="btn btn-default"
        translate-attr="{ title: pwIFGCtrl.buttonTitle,
                          'aria-label': pwIFGCtrl.buttonTitle }"
        ng-click="pwIFGCtrl.showPassword = !pwIFGCtrl.showPassword">
        <i class="far fa-fw" ng-class="pwIFGCtrl.showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
        <span class="sr-only" data-translate="{{pwIFGCtrl.buttonTitle}}"></span>
      </button>
    </div>
  </div>
    <div ng-messages-multiple ng-messages="pwIFGCtrl.formError"
      role="alert" class="invalid-feedback" ng-hide="pwIFGCtrl.hideInvalidTooltip">
      <div ng-messages-include="{{'/framework/admin/widgets/forms/_validationMessages.html' | corsLink: 'ui'}}">
      </div>
    </div>
    <div ng-messages-multiple ng-messages="pwIFGCtrl.formSuccess"
      role="alert" class="valid-feedback" ng-hide="!pwIFGCtrl.showValidTooltip">
      <div ng-messages-include="{{'/framework/admin/widgets/forms/_successMessages.html' | corsLink: 'ui'}}">
      </div>
    </div>
</div>
