<div class="container-fluid cv-details-form full-height">
  <div cef-standard-detail-header-widget
     record="attributeDetailCtrl.record"
     new-kind-key="ui.admin.common.Attribute.New"
     existing-kind-key="ui.admin.common.Attribute">
  </div>
  <div class="row details-body">
    <div class="col-md-12 attribute-editor">
      <uib-tabset class="tabs-left" vertical="true">
        <uib-tab>
          <uib-tab-heading><span ng-class="{'text-danger': attributeDetailCtrl.forms.Details.$invalid}"><i class="far fa-lg fa-info"></i>&nbsp;<span data-translate="ui.admin.common.Detail.Plural"></span></span></uib-tab-heading>
          <div class="form-vertical container-fluid" ng-form="attributeDetailCtrl.forms.Details">
            <div class="row"><div class="col-sm-12"><h3 data-translate="ui.admin.common.BasicInformation"></h3></div></div>
            <div class="row">
              <div class="col-sm-6">
                <text-input-form-group
                  key="CustomKey"
                  ng-model="attributeDetailCtrl.record.CustomKey"
                  label-key="ui.admin.common.Key"
                  tooltip-text="The key of the record. In most cases, this is provided by a third party system. This record specifically requires a unique value even if not integrated with a 3rd party system."
                  placeholder-key="ui.admin.common.Key"
                  max-length="128"
                  ng-required="true">
                </text-input-form-group>
                <text-input-form-group
                  key="Name"
                  ng-model="attributeDetailCtrl.record.Name"
                  label-key="ui.admin.common.Name"
                  tooltip-text="The name of the record. When Display Name is not set, this value is displayed to the UI to show which record this is."
                  placeholder-key="ui.admin.common.Name"
                  max-length="128"
                  ng-required="true">
                </text-input-form-group>
                <text-input-form-group
                  key="DisplayName"
                  ng-model="attributeDetailCtrl.record.DisplayName"
                  label-key="ui.admin.common.DisplayName"
                  tooltip-text="The display name of the record. When Display Name is set, this value is displayed to the UI to show which record this is (instead of Name)."
                  placeholder-key="ui.admin.common.DisplayName"
                  max-length="128"
                  ng-required="false">
                </text-input-form-group>
                <select-form-group
                  key="TypeID"
                  ng-model="attributeDetailCtrl.record.TypeID"
                  selections="attributeDetailCtrl.types"
                  label-key="ui.admin.common.Type"
                  tooltip-text="The type of the record."
                  placeholder-key="ui.admin.common.Type"
                  ng-required="true">
                </select-form-group>
                <!-- NOTE: Hidden until further work is done
                <div class="row">
                  <select-form-group
                    class="col-sm-6"
                    key="TabID"
                    ng-model="attributeDetailCtrl.record.AttributeTabID"
                    selections="attributeDetailCtrl.tabs"
                    label-key="ui.admin.common.Tab"
                    tooltip-text="The tab of the record."
                    include-null="true" null-key="ui.admin.common.Tab.SelectA"
                    ng-required="false">
                  </select-form-group>
                  <select-form-group
                    class="col-sm-6"
                    key="GroupID"
                    ng-model="attributeDetailCtrl.record.AttributeGroupID"
                    selections="attributeDetailCtrl.groups"
                    label-key="ui.admin.common.Group"
                    tooltip-text="The group of the record."
                    include-null="true" null-key="ui.admin.common.Group.SelectA"
                    ng-required="false">
                  </select-form-group>
                </div>
                -->
                <div class="row">
                  <number-input-form-group
                    class="col-sm-6"
                    key="SortOrder"
                    ng-model="attributeDetailCtrl.record.SortOrder"
                    label-key="ui.admin.common.SortOrder"
                    tooltip-text="The sort order for the record. This controls where in the layout of Select controls and paging, etc. the record will lie when sorted via Sort Order."
                    placeholder-key="ui.admin.common.SortOrder"
                    step="1"
                    precision="0"
                    ng-required="false">
                  </number-input-form-group>
                </div>
                <div class="row">
                  <!--
                  <toggle-form-group
                    ng-if="attributeDetailCtrl.cefConfig.featureSet.stores.enabled"
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="HideFromSuppliers"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-model="attributeDetailCtrl.record.HideFromSuppliers"
                    label-key="ui.admin.controls.inventory.attributeDetail.HideFromSuppliers"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  -->
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="HideFromStorefront"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-model="attributeDetailCtrl.record.HideFromStorefront"
                    label-key="ui.admin.controls.inventory.attributeDetail.HideFromStorefront"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="IsMarkup"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-model="attributeDetailCtrl.record.IsMarkup"
                    label-key="ui.admin.controls.inventory.attributeDetail.AllowMarkup"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="HideFromCatalogViews"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-disabled="attributeDetailCtrl.record.HideFromSuppliers || attributeDetailCtrl.record.HideFromStorefront"
                    ng-model="attributeDetailCtrl.record.HideFromCatalogViews"
                    label-key="ui.admin.controls.inventory.attributeDetail.HideFromCatalogViews"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="IsFilter"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-disabled="attributeDetailCtrl.record.HideFromSuppliers || attributeDetailCtrl.record.HideFromStorefront || attributeDetailCtrl.record.IsMarkup"
                    ng-model="attributeDetailCtrl.record.IsFilter"
                    label-key="ui.admin.controls.inventory.attributeDetail.IsFilter"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    ng-if="attributeDetailCtrl.cefConfig.featureSet.carts.compare.enabled"
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="IsComparable"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-disabled="attributeDetailCtrl.record.HideFromSuppliers || attributeDetailCtrl.record.HideFromStorefront"
                    ng-model="attributeDetailCtrl.record.IsComparable"
                    label-key="ui.admin.controls.inventory.attributeDetail.IsComparable"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="HideFromProductDetailView"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-disabled="attributeDetailCtrl.record.HideFromSuppliers || attributeDetailCtrl.record.HideFromStorefront"
                    ng-model="attributeDetailCtrl.record.HideFromProductDetailView"
                    label-key="ui.admin.controls.inventory.attributeDetail.HideFromProductDetailView"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="IsTab"
                    ng-change="attributeDetailCtrl.updateToggles()"
                    ng-disabled="attributeDetailCtrl.record.HideFromStorefront || attributeDetailCtrl.record.HideFromSuppliers || attributeDetailCtrl.record.HideFromProductDetailView"
                    ng-model="attributeDetailCtrl.record.IsTab"
                    label-key="ui.admin.controls.inventory.attributeDetail.IsProductDetailTab"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                </div>
                <textarea-wysiwyg-form-group
                  key="Description"
                  ng-model="attributeDetailCtrl.record.Description"
                  label-key="ui.admin.common.Description"
                  tooltip-text="The description of the record. These are usually not displayed anywhere."
                  placeholder-key="ui.admin.common.Description"
                  ng-required="false">
                </textarea-wysiwyg-form-group>
              </div>
              <div class="col-sm-6">
                <h3 data-translate="ui.admin.controls.inventory.attributeDetail.PredefinedOptions"></h3>
                <div class="row">
                  <toggle-form-group
                    class="col-sm-6 col-md-6 col-lg-4"
                    key="IsPredefined"
                    ng-model="attributeDetailCtrl.record.IsPredefined"
                    label-key="ui.admin.controls.inventory.attributeDetail.IsPredefined"
                    tog-on-key="ui.admin.common.Yes" tog-on-style="btn-primary"
                    tog-off-key="ui.admin.common.No" tog-off-style="btn-info"
                    ng-required="false">
                  </toggle-form-group>
                  <div class="form-group col-sm-6 col-md-6 col-lg-4">
                    <label class="control-label block">&nbsp;</label>
                    <button type="button" class="btn btn-primary"
                        translate-attr="{ title: 'ui.admin.controls.inventory.attributeDetail.AddOption',
                                  'aria-label': 'ui.admin.controls.inventory.attributeDetail.AddOption' }"
                        ng-disabled="!attributeDetailCtrl.record.IsPredefined"
                        ng-click="attributeDetailCtrl.openAddOptionModal()">
                      <i class="far fa-plus"></i>&nbsp;<!--
                      --><span data-translate="ui.admin.controls.inventory.attributeDetail.AddOption"></span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table table-condensed table-hover table-striped">
                        <thead>
                          <tr>
                            <th class="w-60" data-translate="ui.admin.common.Value"></th>
                            <th class="w-30" data-translate="ui.admin.common.UnitOfMeasure.Abbr"></th>
                            <th class="w-10" data-translate="ui.admin.common.SortOrder"></th>
                            <th style="width: 43px;"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-if="!attributeDetailCtrl.predefinedOptions.length">
                            <td colspan="4"
                              data-translate="ui.admin.controls.inventory.attributeDetail.NoPredefinedOptionsHaveBeenAdded"></td>
                          </tr>
                          <tr ng-repeat="option in attributeDetailCtrl.predefinedOptions | orderBy: ['SortOrder', 'Value', 'UofM']">
                            <td class="p-1" ng-bind="option.Value"></td>
                            <td class="p-1" ng-bind="option.UofM || '-'"></td>
                            <td class="p-1" ng-bind="option.SortOrder || option.SortOrder === 0 ? option.SortOrder : '-'"></td>
                            <td class="p-1">
                              <button type="button" class="btn btn-danger btn-block btn-xs"
                                translate-attr="{ title: 'ui.admin.common.Delete',
                                                  'aria-label': 'ui.admin.common.Delete' }"
                                ng-click="attributeDetailCtrl.removeOption($index)">
                                <i class="far fa-times"></i>
                                <span class="sr-only" data-translate="ui.admin.common.Delete"></span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>
  <!-- Form actions -->
  <div class="row details-footer">
    <div class="col-md-12">
      <cef-standard-detail-footer-buttons
        master-controller="attributeDetailCtrl"
        return-state="inventory.attributes.list"
        permissions-base="Attributes.GeneralAttribute">
      </cef-standard-detail-footer-buttons>
    </div>
  </div>
</div>
