<div ng-controller="StoreSearchController as search">
  <cv-grid
    show-pager="true"
    page-sizes="8,16,32,64"
    default-page-size="8"
    server-paging="true"
    sortable="false"
    server-sorting="true"
    force-show-labels="true"
    labels-on-top="true"
    dont-use-full-height="true"
    on-search="search.getCurrentAccountSalesQuotes"
    detail-state="userDashboard.salesQuotes.detail,[ID]"
    button-index="quotes">
    <cv-query-controller-param
      field="HasSalesGroupAsSub"
      value="$root.cefConfig.featureSet.shipping.splitShipping.enabled" />
    <cv-query-controller-param
      field="HasSalesGroupAsRequest"
      value="true" />
    <cv-column hidden
      field="StatusID"
      title-key="ui.storefront.userDashboard2.controls.salesDetail.Status"
      filter
      filter-type="select"
      on-option-repeat="$parent.search.getSalesQuoteStatuses">
      <option value="" selected
        data-translate="ui.storefront.common.Any">
      </option>
    </cv-column>
    <cv-column
      field="ID"
      title-key="ui.storefront.storeDashboard.storeProductEditor.ID"
      filter
      filter-type="id"
      width="13%"
      cell-class="text-right" />
    <cv-column
      if="$root.cefConfig.featureSet.salesQuotes.hasIntegratedKeys"
      filter
      field="CustomKey"
      title-key="ui.storefront.common.Key"
      width="26%" />
    <cv-column
      field="Totals.Total"
      title-key="ui.storefront.common.Total"
      width="20%"
      cell-class="text-right"
      format="globalizedCurrency : dataItem.SerializableAttributes.SellingCurrencyKey.Value" />
    <cv-column
      field="CreatedDate"
      title-key="ui.storefront.common.Date"
      width="26%"
      format="yyyy MMM dd hh:mm a"
      type="date"
      filter
      filter-type="minMaxDate"
      filter-colspan="5"
      sort-by="1"
      sort-by-direction="desc" />
    <cv-column
      field="StatusID"
      type="statusID"
      title-key="ui.storefront.userDashboard2.controls.salesDetail.Status"
      preload-statuses-kind="SalesQuote"
      width="40%" />
  </cv-grid>
</div>
