<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".ts" />
      <mimeMap fileExtension=".ts" mimeType="text/x-typescript" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/less" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Access-Control-Allow-Headers" value="Accept, Accept-Encoding, Accept-Language, Cache-Control, Connection, Content-Length, Content-Type, DNT, Origin, Pragma, Referer, X-Requested-With, X-ss-pid, X-ss-id, X-ss-opt, X-uaid, vary" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Method" value="DELETE, GET, PATCH, POST, PUT, OPTIONS" />
        <add name="Access-Control-Max-Age" value="-1" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules configSource="bin\rewrite.rules.config" />
      <outboundRules configSource="bin\rewrite.outboundRules.config" />
      <rewriteMaps configSource="bin\rewrite.rewriteMaps.config" />
    </rewrite>
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2013.1.227.40" newVersion="2013.1.227.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
