# This file should be used sparingly
src/_meta/css/components/helpers.scss
src/_shared/customHooks/catalog/useProductSearchViewModel.ts
src/_api/*.ts
src/_redux/_reduxTypes.tsx
src/_shared/ServiceStrings.ts
