<div class="modal-header bg-dark text-light">
    <h5 class="modal-title"
        sid="ModalPleaseConfirmText"
        data-translate="{{confirmModalCtrl.headerKey}}">
    </h5>
    <button type="button" class="close"
            sid="btnHeaderConfirmModalCancel"
            translate-attr="{ title: 'ui.storefront.common.Close',
                              'aria-label': 'ui.storefront.common.Close' }"
            ng-click="confirmModalCtrl.cancel()">
        <i class="far fa-times text-light" aria-hidden="true"></i>
        <span class="sr-only" data-translate="ui.storefront.common.Close"></span>
    </button>
</div>
<div class="modal-body">
    <div id="confirmModalLabel"
         ng-bind-html="confirmModalCtrl.displayMessage">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
            id="btnConfirmModalCancel" name="btnConfirmModalCancel"
            translate-attr="{ title: confirmModalCtrl.noKey,
                              'aria-label': confirmModalCtrl.noKey }"
            data-translate="{{confirmModalCtrl.noKey}}"
            ng-click="confirmModalCtrl.cancel()"></button>
    <button type="button" class="btn btn-primary"
            id="btnConfirmModalOk" name="btnConfirmModalOk"
            ng-disabled="confirmModalCtrl.forms.edit.$invalid"
            translate-attr="{ title: confirmModalCtrl.yesKey,
                              'aria-label': confirmModalCtrl.yesKey }"
            data-translate="{{confirmModalCtrl.yesKey}}"
            ng-click="confirmModalCtrl.ok()"></button>
</div>
