@page "/details/notifications"

@*<CascadingValue Value="ViewState">*@
  <Div Class="page h-100" ElementId="notificationsPage">
    <Div Class="page-content">
      <Container Fluid="true">
        <Row>
          <Column>
            <Heading Size="HeadingSize.Is1" Class="my-3">Notifications</Heading>
            <Paragraph>
              TODO: List notifications with dismiss-ability
            </Paragraph>
          </Column>
        </Row>
      </Container>
    </Div>
  </Div>
@*</CascadingValue>*@

@code
{
}
