# https://www.jetbrains.com/help/resharper/EditorConfig_Index.html
# https://www.jetbrains.com/help/resharper/StyleCop_Styles.html
# Suppress: EC112

[CEFConfig.Get*.cs]
indent_style = tab
tab_width = 4
dotnet_diagnostic.CS0618.severity = none
dotnet_diagnostic.SA1027.severity = none

[CEFConfig.Shared.cs]
indent_style = tab
tab_width = 4
dotnet_diagnostic.CS0618.severity = none
dotnet_diagnostic.SA1027.severity = none

[CEFConfig.Properties*.cs]
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.IDE0075.severity = none
dotnet_diagnostic.RCS1104.severity = none
resharper_comment_typo_highlighting=do_not_show
resharper_inconsistent_naming_highlighting=do_not_show
resharper_member_can_be_private_global_highlighting=do_not_show
resharper_missing_linebreak_highlighting=do_not_show
resharper_region_with_single_element_highlighting=do_not_show
resharper_simplify_conditional_ternary_expression_highlighting=do_not_show
resharper_string_literal_typo_highlighting=do_not_show
resharper_unused_member_local_highlighting=do_not_show
resharper_throw_exception_in_unexpected_location_highlighting=do_not_show
