# Suppress: EC112

[*.generated.cs]
# Ignored for T4s
resharper_partial_type_with_single_part_highlighting=do_not_show
resharper_redundant_extends_list_entry_highlighting=do_not_show
resharper_bad_list_line_breaks_highlighting=do_not_show
